.landingView{
	-webkit-font-smoothing: antialiased;
	font-family: "helvetica neue";
}

.subhead {
	color: darkgrey;
	font-weight: lighter;
	margin-top: 5px;
}

.forGroups {
	color: darkgrey;
	margin-top: 100px;
	margin-bottom: 100px	
}

.explainerWrapper {
	margin: auto;
	width: 60%;
	background-color: smoke;
}

.explainerWrapper p {
	margin: 0px;
}

.explainerWrapper h3 {
  	margin-top: 50px;
  	margin-bottom: 10px;
}

.explainerWrapper img {
	width: inherit;
}

