/* 
	 ***************************
	 ***************************
	     Landing Page
	 ***************************
	 ***************************
*/

		.conductor {
			/* he's 844px tall */
			background-color: black;
		}
		.brandon400 {
			font-weight: 400;
			letter-spacing: .1em
		}
		.otherOptions1{
			background-color: rgba(0,0,0,.6); 
			padding-top: 10px;
			padding-left: 20px;
			padding-bottom: 10px;
			margin-bottom: 0px;
		}
		.otherOptions2{
			background-color: rgba(0,0,0,.6); 
			padding-left: 20px;
			padding-bottom: 10px;
			margin-bottom: 0px;
		}
		.landingPageHeadline{
			margin-top: 50px;
		}
		input {
			 font-family: "brandon-grotesque",sans-serif;
			 font-weight: 400;
		}
		.landingPagePolis {
			font-weight: 100;
			color: white;
			font-size: 60px;
			text-align: center;
		}
		.landingPageCommunication {
			font-weight: 100;			
			color: white;
			font-size: 32px;
			text-align: center;
			padding-top: 15px;
		}
		.landingBox {
			background-color: rgba(0,0,0,.3);
			border-radius: 3px;
		}
		.landingBox input {
			width: 90%;
			margin-bottom: 15px;
		}
		.landingBox form {
			margin: 20px;
		}
		.action {
			display: block;
		}
		.landingBoxTop{
			margin-top: 20px;
		}
		.formTextHeader {
			padding-left: 20px;
			padding-top: 10px;
			color: white;
		}


/* Large desktop */
@media (min-width: 1200px) { 
		.conductor {
			background-size: 100%;
			height: 770px;
			background-position-y: -70px;
		}
}

 
/* LITTLE TABLET to BIG TABLET and DESKTOP */
@media (min-width: 768px) and (max-width: 1199px) { 
		.conductor {
			background-size: 1280px;
			height: 800px;
		}
}
 
/* BIG PHONE to LITTLE tablet */
@media (min-width: 481px) and (max-width: 767px) { 
		.conductor {
			background-size: 1280px;
			height: 800px;
		}
		.landingBox {
			background-color: rgba(0,0,0,.3);
			border-radius: 3px;
		}
		.landingBox {
			border-radius: 3px;
			padding: 20px;
		}
		.landingBox input {
			width: 50%;
			margin-bottom: 15px;
		}
}
 
/* BIG PHONE and down */
@media (max-width: 480px) { 
		.conductor {
			background-size: 1280px;
			height: 600px;
		}
		.landingPageHeadline{
			margin-top: 20px;
			margin-bottom: 10px;
		}
		.landingBox {
			background-color: rgba(0,0,0,.3);
			border-radius: 3px;
			padding-top: 15px;
		}
		.landingBox input {
			width: 90%;
			margin-bottom: 15px;
		}
}







