#analyze .nav-pills {
  margin-top: 20px
}

#analyze #accordion {
  margin-top: 20px;
}

.query_results_div {
  padding-top: 10px;
}

.query_results {
  margin-left: 0px;
  list-style: none;
  padding-left:0px;
}

.query_result_item {
    min-height: 50px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-left: 2px solid #ACCFE1;
    margin-top: 10px;
    margin-left: 2px;
    text-align: justify;
    width: 92%
}
.query_result_item.selected {
  background-color: #428bca;
  color: white;
}

.hover {
  background-color: #ebf3ff;
}


.active_result_item {
  background-color: #FFFBE8;
}
.visualization {
  border: none;
  background: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.hull {
  fill: #f6f6f6;
  stroke: #f6f6f6;
  stroke-width: 6px;
  stroke-linejoin: round;
  z-index: 401;
  cursor: pointer;
}
.hull_shadow {
  fill: #d4d4d4;
  stroke: #d4d4d4;
  stroke-width: 8px;
  stroke-linejoin: round;
  z-index: 400;
}

.active {
  fill: #ebf3ff;
  stroke: #ebf3ff;
}
.ptpt {
  z-index: 500;
  cursor: pointer;
 /* pointer-events: none; */
}
.hidden {
  display: none;
}
.enter {
  fill: green;
}
.update {
  fill: #333;
}
.exit {
  fill: brown;
}



