#analyze .nav-pills {
  margin-top: 20px
}

#analyze #accordion {
  margin-top: 20px;
}

.query_results_div {
  padding-top: 10px;
}

.query_results {
  margin-left: 0px;
  list-style: none;
  padding-left:0px;
}

.query_result_item {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-left: 2px solid #ACCFE1;
    margin-top: 10px;
    margin-left: 2px;
    text-align: justify;
    width: 92%
}

.hover {
  background-color: #ebf3ff;
}


.active_result_item {
  background-color: #FFFBE8;
}
.visualization {
  border: none;
  background: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.hull {
  opacity: 0.2;
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 18px; /* note: probably overriden in VisView for intro animation */
  stroke-linejoin: round;
  z-index: 400;
  cursor: pointer;
  // filter:url(#ghostFilter);
  filter:url(#shadowFilter);
}
.active {
  fill: #99C3FF;
  stroke: #99C3FF;
}
.ptpt {
  z-index: 500;
  cursor: pointer;
 /* pointer-events: none; */
}
.hidden {
  display: none;
}
.enter {
  fill: green;
}
.update {
  fill: #333;
}
.exit {
  fill: brown;
}



