#visualization_div {
  margin-top: 100px;
  position: relative;
  margin-left: 10px;
  width: 70%;
}

#query_results_div {
  padding-top: 10px;
}

.query_results {
  margin-left: 0px;
  list-style: none;
}

.query_result_item {
    padding: 1px;
    cursor: pointer;
    border-left: 2px solid #ACCFE1;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 2px;
    text-align: justify;
    width: 92%
}

.active_result_item {
  background-color: #FFFBE8;
}
.visualization {
  border: none;
  background: white;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.hull {
  opacity: 0.2;
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 18px; /* note: probably overriden in VisView for intro animation */
  stroke-linejoin: round;
  z-index: 400;
  cursor: pointer;
}
.active {
  fill: #99C3FF;
  stroke: #99C3FF;
}
.ptpt {
  z-index: 500;
}
.hidden {
  display: none;
}
.enter {
  fill: green;
}
.update {
  fill: #333;
}
.exit {
  fill: brown;
}



