---
"extends":
  - "defaults/configurations/walmart/es6-react"
rules:
  camelcase: 0 # require camel case names
  prefer-template: 0
  object-shorthand: 0
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    modules: true

# https://gist.github.com/odedw/cf14a55aa154adbc3bf7#file-eslintrc-yaml-L4
