# This file is an override to the original docker-compose.yml file, and as such is meant to
# extend that configuration with some additional concerns for developers, such as a maildev
# server, and exposing most ports. DO NOT USE THIS IN PRODUCTION.

# This configuration does not work on its own and must be run together with docker-compose.yml,
# e.g. `docker compose -f docker-compose.yml -f docker-compose.dev.yml up`.
# (Note the usage in Makefile.)
# For more information see https://docs.docker.com/compose/extends/

services:
  server:
    build:
      target: dev
      args:
        NODE_ENV: development
    volumes:
      # This will mount your local polis/server directory so changes can be watched and reloaded.
      # But it will ignore your local node_modules and instead use a new container volume.
      - ./server:/app
      - /app/node_modules
    ports:
      - "${API_SERVER_PORT:-5000}:${API_SERVER_PORT:-5000}"
      - "9229:9229"

  math:
    # command: clojure -X:dev-poller
    volumes:
      - ./math:/app
    ports:
      # nrepl port
      - "18975:18975"
    environment:
      CHOKIDAR_USEPOLLING: "true"

  postgres:
    restart: no
    ports:
      - "${POSTGRES_PORT:-5432}:5432"

  file-server:
    build:
      args:
        NODE_ENV: development
    ports:
      - ${STATIC_FILES_PORT:-8080}:${STATIC_FILES_PORT:-8080}

  maildev:
    image: docker.io/maildev/maildev:1.1.1
    labels:
      polis_tag: ${TAG}
    networks:
      - polis-net
    ports:
      # User interface
      - "1080:1080"
      # SMTP port
      - "1025:1025"

  # TODO: Add individual entries for each of the clients, with hot-code reloading set up
  # Either:
  #   * configure environment variables here so that the ports the server points to for these assets are the
  #     live-code-reloaded ports
  #   * leave the server pointing to the static builds, but have separate ports you can hit for the live-code
  #     reloading (making sure to document the process)
