<body>

<script>
function setCookie(cname,cvalue,exdays) {
    var d = new Date();
    d.setTime(d.getTime()+(exdays*24*60*60*1000));
    var expires = "expires="+d.toGMTString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) 
      {
      var c = ca[i].trim();
      if (c.indexOf(name)==0) return c.substring(name.length,c.length);
    }
    return "";
}
if (!getCookie("ref")) {
    setCookie("ref", document.referrer, 365);
}

$(document).ready(function() {
  if (getCookie("uid2")) {
    $(".ifNoAuth").hide();
  } else {
    $(".ifAuth").hide();
  }
});
</script>


<!-- facebook code for share link -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=328354915742&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div class="navbar navbar-default logo_and_login_section" role="navigation" style="margin-bottom: 0px;">
 <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" style="padding: 3px 10px;" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars" style="position: relative; top: 2px"></span>
      </button>
      <a
        id="polisLogo"
        class="Logo"
        href="/"
        >
        pol<span class="Logo--blue">.</span>is

      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="ifNoAuth"><a class="HeadingB" href="/user/login">Login</a></li>
        <li class="ifAuth"><a class="HeadingB" href="/inbox">Inbox</a></li>
        <li class="ifAuth"><a class="HeadingB" href="/settings">Settings</a></li>
        <li class="ifAuth"><a class="HeadingB" href="/user/logout">Signout</a></li>
      </ul>
    </div>{{! /.nav-collapse }}
 </div>
</div>









