.enter {
  fill: green;
}

.update {
  fill: #333;
}

.exit {
  fill: brown;
}

#visualization_div {
  margin-top: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.visualization {
  border: 1px solid black;
  background: ;
}

#toparrow, #rightarrow, #bottomarrow, #leftarrow {
  stroke: steelblue;
  stroke-width: 2px;
}

#centercircle {
  fill: white;
  stroke: steelblue;
  stroke-width: 1px;
}

#centercircle:hover {
  fill:lightgrey;
}

#top_circle, #right_circle, #bottom_circle, #left_circle {
  fill: white;
  stroke: steelblue;
  stroke-width: 2px;
}

#top_circle:hover, #right_circle:hover, #bottom_circle:hover, #left_circle:hover {
  fill:lightgrey;
}

.toparrow_hover {
  width: 400px;
}


#top_pillar { 
  position: absolute;
  width: 882px;
  height: 308px;
  padding: 10px;
  background-color: black;
  opacity: .6;
  margin-top: 123px;
  color: white;
  font-family: garamond;
  overflow-y: scroll;
  overflow-x: hidden;
}

#right_pillar {
  position: absolute;
  width: 661px;
  height: 99%;
  background-color: black;
  opacity: .6;
  color: white;
  font-family: garamond;
  overflow-y: scroll;
  overflow-x: hidden;
}

#bottom_pillar {
  position: absolute;
  width: 882px;
  height: 308px;
  padding: 10px;
  background-color: black;
  opacity: .6;
  color: white;
  font-family: garamond;
  overflow-y: scroll;
  overflow-x: hidden;
}

#left_pillar {
  position: absolute;
  width: 661px;
  height: 99%;
  margin-left: 241px;
  background-color: black;
  opacity: .6;
  color: white;
  font-family: garamond;
  overflow-y: scroll;
  overflow-x: hidden;
}

#centercircle_content {
  position: absolute;
  width: 600px;
  height: 350px;
  margin-left: 130px;
  margin-top: 30px;
  padding: 20px;
  background-color: black;
  opacity: .6;
  color: white;
  font-family: garamond;

}

.hidden {
  display: none;
}


