// BUTTONS
//

.Btn {
  padding: 8px 25px;
  border-radius: 4px;
  border: 0;

  font-size: 16px;
  font-family: $sans-font;
  font-weight: 700;
  text-transform: uppercase;
}

.Btn-primary {
  background-color: $brand-color;
  color: #fff;
  letter-spacing: 0.07em;

  &:hover {
    background-color: $btn-hover-color;
  }
}

.Btn-alt {
  background-color: $bg-alt-color;
  color: $brand-color;
  letter-spacing: 0.05em;

  &:hover {
    background-color: #d9dadc;
    color: $brand-text-color;
  }
}

//
// Voting buttons: agree and disagree
//
#agreeButton, #disagreeButton {
  border-right: 0px
}

.Btn-vote {
  // set this independently of the overall font size, since they're difficult to get right.
  font-size: 20px;
  padding: 10px 0px; // no horizontal padding - to prevent the right edge of "disagree" from being clipped on iOS
}
