

/* ---------- BEGIN STICKY FOOTER ---------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -320px;
  /* Pad bottom by footer height */
  padding: 0 0 320px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 320px;
  background-color: $header-footer-color;
  padding-top: 30px;
  border-color: #e7e7e7;
  border-top: 1px solid transparent;
}

#footer-conversation-view {
  height: 50px;
  background-color: transparent;
  padding-top: 30px;
  border-color: #e7e7e7;
  border-top: 1px solid #fafafa;
}

.footer_item {
  margin-right: 40px;
  position: relative;
  top: 19px;

}

/* ---------- END STICKY FOOTER ---------- */