// STICKY FOOTER

// TO MAKE SHORT FOOTER STICKY...

//// for #footer-conversation-view, root needs height: 100%;
//// but for #footer, it needs height: auto;
//// if [data-view-name="root"] ~ #footer then height: auto;
//[data-view-name="root"] {
  // height: 100%;
//}

.wrap {
  min-height: 100%;
  margin: 0 auto (-$short-footer-height);
  height: auto;
}

.wrap:after {
  height: 100px; /*short footerheight plus... svg translate plus a lil*/
  content: "";
  display: block;
}

.participationView {
  height: 100%;
}

// SHORT FOOTER
#footer-conversation-view {
  // height: $short-footer-height;
  background-color: transparent;
  // border-color: #e7e7e7;
  // border-top: 1px solid lightgrey;
}

.footer-conversation-view-item {
  position: relative;
  top: 14px;
}

// TALL FOOTER
#footer {
  height: $tall-footer-height;
  background-color: $header-footer-color;
  padding-top: 30px;
  border-color: #e7e7e7;
  border-top: 1px solid transparent;
}

.footer_item {
  margin-right: 40px;
  position: relative;
  top: 14px;
}

.footerCol {
  padding-top: 17px;
}

.footerSocial {
  display: block;
  vertical-align: middle;
}
