//
// Switch forms
// between Sign up/Log in
//
.SwitchForms {
  position: relative;
}

.SwitchForms-text {
    text-align: center;
    position: absolute;
    width: 40px;
    left: 20px; /* since the form is left-aligned */
    top: -13px;

    background-color: $bg-color;
    font-weight: 400;
}

.SwitchForms-submit {
    padding-top: $default-whitespace + ($default-whitespace/2);

    border-top: 1px solid $default-border-color;
}
