// FORMS
//

.FormVertical {
  margin-bottom: ($default-whitespace*2);
  border: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.FormVertical-group {
  margin-bottom: $default-whitespace;

  &:last-child {
    margin-bottom: 0;
  }
}

.FormLabel {
  display: block;

  color: $text-color;
  font-family: $sans-font;
  font-size: 22px;
  font-weight: 400;
}

.FormControl {
  min-height: 36px;
  height: auto;
  width: 100%;
  display: block;
  padding: 0 10px;
  margin-bottom: 2px;
  border-radius: 2px;

  background-color: #fff;
  border: 1px solid $default-border-color;
  color: $dark-gray;
  font-size: 22px;
  font-family: $serif-font;
  font-weight: normal;
  line-height: 2;
  box-shadow: none;

  &:hover {
    border-color: #aaa;
  }

  &:focus {
    border-color: $brand-color;
    outline: none;
    box-shadow: none;
  }
}

.FormControl--title {
  font-size: 30px;
}

.FormLink {
  display: block;

  font-family: $serif-font;
  line-height: 2;
  text-align: right;
}

//
// Checkbox and radio buttons
//
// .FormLabel--checkbox,
// .FormLabel--radio {
//   padding-left: $default-whitespace;
// }

.FormCheckbox,
.FormRadio {
  margin: 0 10px 0 0;
}
