//
// Header/banner
//
// .Header            <header> element
// .Logo              <a> container
// .Logo--blue        for the blue dot !
// .polisLogo         <img> of the logo
//

.Header {
  margin: 0;
  padding: 30px 0 15px 0;
  border-bottom: 3px solid #eeeff0;

  vertical-align: bottom;
}

.Logo {
  display: inline-block;

  color: $medium-gray;
  font-family: $headline-font;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0.07em;
}

.Logo--blue {
  color: $brand-color;
  font-weight: bold;
}

.polisLogo {
  height: 30px;

  @media screen and (min-width: $sm-screen) {
    height: 37px;
  }

  @media screen and (min-width: $md-screen) {
    height: 40px;
  }
}
