// LANDER
// The first page when you first visit pol.is
//
// .SectionLander               <section> on the homepage
// .SectionLander-Heading       main title for <section>
//

.SectionLander {
  margin: 0;
  padding: ($default-whitespace*2) 5px;
  width: 100%;

  color: $light-blue-gray;
  @include font-size(18px);
  line-height: 24px;

  p {
    margin-bottom: 1.5em;

    @include font-size(18px);
    line-height: 24px;
  }

  @media screen and (min-width: $sm-screen) {
    padding: ($default-whitespace*3) $default-whitespace;

    @include font-size(24px);
    line-height: 32px;

    p {
      @include font-size(24px);
      line-height: 32px;
    }
  }
}

.SectionLander--white {
  background-color: #fff;
}

.SectionLander--alt {
  background-color: #ebedee;
}

.SectionLander--spark {
  padding-left: 0;
  padding-right: 0;
  background: #686b6c url("/img/bg-spark_max.jpg") center center no-repeat;
  color: #fff;

  @media screen and (min-width: $sm-screen) {
    padding: ($default-whitespace*5) $default-whitespace;
  }
}

.SectionLander-Heading {
  margin-bottom: 1.5em;

  color: $dark-blue-gray;
  font-family: $sans-font;
  @include font-size(24px);
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @media screen and (min-width: $sm-screen) {
    @include font-size(32px);
    line-height: 48px;
  }
}

.SectionLander-Heading--spark {
  margin-bottom: 0.5em;

  color: #fff;
  font-family: $serif-headline-font;
  @include font-size(30px);
  line-height: 1.25em;
  font-weight: 100;
  letter-spacing: 0;
  text-align: center;
  text-transform: none;

  @media screen and (min-width: $sm-screen) {
    @include font-size(60px);
  }
}

.LanderSubheading {
  font-family: $sans-font;
  color: $dark-blue-gray;
  @include font-size(20px);
  line-height: 24px;

  @media screen and (min-width: $sm-screen) {
    @include font-size(30px);
    line-height: 36px;
  }
}

.LanderText--indent {
  margin-left: 0;

  @media screen and (min-width: $sm-screen) {
    margin-left: 4.5rem;
  }
}

.spot--align {
  @media screen and (min-width: $sm-screen) {
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
  }
}

.spotIcon {
  color: $dark-blue-gray;
  transition: 1s color;

  &:hover {
    color: $green;
  }
}

.spotText {
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: $sm-screen) {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 200px);

    text-align: left;
  }
}

.SparkList {
  text-align: center;
}

.SparkList-item {
  @include font-size(30px);
}

.NewsFeature-text {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}
.logoGeekWire-link {
  vertical-align: text-top;
}
