#legendRoot {
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	background-color: white;
	position: relative;

}


    // padding: 20px;
    // background-color: rgb(247, 247, 247);
    // margin-top: 0px;
    // text-align: center;
    // border-radius: 9px 9px 0px 0px;