#legendRoot {
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	background-color: white;
	position: relative;

}








/*XS XS XS XS XS XS XS */
/*  @screen-sm-min  */
@media(max-width:767px){

	#legendToggle {
		display: none;
	}

}

/*SM SM SM SM SM SM SM */
/* @screen-sm-min  */
@media(min-width:768px){

	#legendToggle {
		position: absolute; 
		right: 30px; 
		top: 5px;
	}

}

/*MD MD MD MD MD MD MD MD */
/* @screen-md-min */
@media(min-width:992px){
  
	#legendToggle {
		position: absolute; 
		right: 30px; 
		top: 5px;
	}


}

/*LG LG LG LG LG LG LG LG */
/* @screen-lg-min  */
@media(min-width:1200px){



}