// LISTS
//

.ListPlain {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.ListHorizontal {
  margin: 0;
  padding-left: 0;
}

.ListHorizontal > li {
  display: inline-block;
  margin-left: $default-whitespace;

  &:first-child {
    margin-left: 0;
  }
}
