// NAVIGATION
// styles for the navigation bar or nav or navbar
//
// .primaryNav           <ul> navigation for entire site
// .navIcon              <a> links with icon
// .icon--login          specific icon for login
// .icon--inbox          specific icon for inbox
// .icon--settings       specific icon for settings
// .icon--signout        specific icon for signout
//


.primaryNav {
  float: right;
  padding: 12px 0 0 0;
  list-style: none;
  vertical-align: middle;

  font-family: $sans-font;
  font-size: 20px;
  text-transform: uppercase;
}

.primaryNav > li {
  margin-left: $default-whitespace;

  &:first-child {
    margin-left: 0;
  }
  a {
    padding: 0;
  }
}

.navIcon {
  padding: 0;

  &:before {
    margin-right: 0.33em;
  }
}

.icon--login {
  &:before {
    @include fa-login();
  }
}

.icon--inbox {
  &:before {
    @include fa-inbox();
  }
}

.icon--settings {
  &:before {
    @include fa-settings();
  }
}

.icon--signout {
  &:before {
    @include fa-signout();
  }
}
