// SECTION
// The <section> element is super fun and typically 100% wide
//

.section {
  margin: 0;
  padding: $default-whitespace 10px;
  width: 100%;

  @media screen and (min-width: $sm-screen) {
    padding: $default-whitespace;
  }
}
