// STARTER COMMENTS
// in the Create Conversation view, these are the added/starter comments
// the user entered for the conversation

.StarterComments {
  margin-bottom: $default-whitespace;

  // on initialization there is 1 empty added comment at the bottom :(
  // &:last-child {
  //   display: none;
  // }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.StarterComments-heading {
  border-bottom: 1px solid $default-border-color;

  color: $light-gray;
  font-weight: normal;
}

.StarterComments-delete {
  color: $link-color;
  font-weight: bold;

  &:before {
    content: "×";
  }
}

.StarterComments-text {
  padding: 0.25em 0.5em;
  border-radius: 4px;
  border: none;

  color: $dark-gray;
  background-color: #fff;
}
