.calva/
.cpcache
.env
.gorilla-port
.lein-deps-sum
.lein-env
.lein-failures
.lein-git-deps/debug-repl
.lein-git-deps/hiphip
.lein-plugins
.lein-repl-history
.nrepl-port
*.class
*.jar
*.swo
/checkouts
/classes
/lib
/target
data
db/
errorconv*
old
pom.xml
pom.xml.asc
scratch
src/polismath/play.clj
wiki
.lein-git-deps/debug-repl
data
.cpcache
errorconv*

# Python-specific entries
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

real_data
