{
  "env": {
    "production": {
      "stage": 0
    },
    "development": {
      "stage": 0,
      "plugins": ["react-transform"],
      "extra": {
        "react-transform": {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }, {
            "transform": "react-transform-catch-errors",
            "imports": ["react", "redbox-react"]
          }]
        }
      }
    },
    "test": {
      "presets": ["es2015", "react"],
      "plugins": [
        "syntax-decorators",
        "transform-class-properties",
        "transform-es2015-computed-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
