<section class="container">
<div class="row">
  <div class="col-sm-12 col-md-12">
    <!-- <h1 class="landingView_header"> polis </h1> -->
    <h1 class="landingView_subheader"> communication for groups </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <iframe width="100%" src="//www.youtube.com/embed/tBfUczW9RsU?rel=0" height="400px" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
  <div class="col-sm-6 col-md-6">
    <h3> Polis is a new tool for enabling real-time group discussions, feedback and decision making. </h3>
    <h5> Polis works with groups of any size, and is ideal for: </h5>
  <ul>
    <li> Managers who must constantly query multiple stakeholders on complex issues and want to avoid some types of meetings </li>
    <li> Teams, especially distributed teams, where decision making is dependent upon consensus building </li>
    <li> Professors with large (or small) classrooms unsatisfied with the quality of thinking engendered by clickers, online forums and polling in general </li>
    <li> Conference speakers seeking real-time interactions with their audiences </li>
    <li> Politicians &amp; citizens at all levels of government seeking open ended feedback about policy </li>
    <li> Blogs open to replacing unproductive commenting systems </li>
    <li> Newspapers and other digital publications engaging their readership in discussions (ie., Room for Debate, Economist Debates) </li>
    <li> Corporate and non-profit board discussions suffering from complex reply-all email chains </li>
    <li> Professional organizations with annual conferences and a membership distributed throughout the country wishing to do something more interactive than email newsletters </li>


  </ul>
    <form class="form-horizontal">
      <div class="form-group">
          <label for="email" class="control-label">Email:</label>
          <div class="controls">
            <input type="text" name="email" placeholder="Email" class="form-control">
        </div>
      </div>
      <div class="form-group">
          <label for="username" class="control-label">Username: </label>
          <div class="controls">
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
      </div>
      <div class="form-group">
          <label for="organization" class="control-label">Organization: </label>
          <div class="controls">
            <input type="text" name="organization" placeholder="Organization" class="form-control">
        </div>
      </div>

      <button type="submit" class="btn btn-block btn-success"> <i class="fa fa-key"></i>  &nbsp; Request Invitation to Private Beta </button>
      </form>

  </div> <!-- end span 6 -->
</div> <!-- end row -->
</section>