<div class="analyze-group-pane">
	{{!-- <div id="vis_sibling_above_tab_content"></div> --}}
	<p class="analyze-group-banner-1 "> Group Summary <span style=" font-size: 14px; text-transform: initial; float: right; position: relative; top: 4px;"><em>9 people</em></span> </p>
	<div id="carouselForGroup" style="
        {{!-- visibility: hidden; --}}
        display: none;
        {{!-- min-height: 300px;  --}}{{! prevent window from scrolling on mobile when carousel is clobbered }}
	"></div>

  {{view participants}}


<center id="groupMap"></center>

</div>
