<div class="analyze-group-pane unselectable">
	<p
    class="analyze-group-banner-1"
    style="
      padding: 15px;
    ">
    Here's how group FOO{{!-- {{selectedGroupNum}} --}} voted:
    <span
      id="numMembers"
      style="
        display: none;
        font-style: italic;
        font-size: 14px;
        text-transform: initial;
        float: right;
        position: relative;
        top: 4px;">
    </span>
  </p>
	<div
    id="groupCarouselParent"
    style="position: relative;"
    >
		<span
      style="
        width:90%;
        z-index: 2
        ">
			<div
        id="carouselForGroup"
        style="
		      display: none;
          ">
      </div>
		</span>
	</div>

  {{view participants}}
  <center id="groupMap"></center>

</div>
