<div
  class="majority-tab"
  style="padding: 15px;">
  <p class="analyze-group-banner-1 ">
    <span style="">
      Across <strong>all participants</strong>:
    </span>
    <span
      class="majorityNumMembers"
      style="
        display: none;
        font-style: italic;
        font-size: 14px;
        text-transform: initial;
        float: right;
        position: relative;
        top: 4px;
        ">
      </span>
  </p>
  <div
    id="carouselConsensus"
    style="overflow: hidden;
    ">
  </div>
</div>
