<div class="analyze-group-pane">

<div id="vis_sibling_above_tab_content"></div>
  
  <div id="groupStats">
    {{!-- <p>
      {{numSelected}} people in the selected group.
    </p> --}}
    <p 
    class="HeadingC" 
    style="
    padding: 20px;
    background-color: rgb(247, 247, 247);
    margin-top: 0px;
    text-align: center;
    border-radius: 9px 9px 0px 0px;
"> {{! line-height since the span around "selected group may vertically overlap with the rest of the text }}
      How <span class="hull_selection active_group " style="padding: 5px; padding-top: 0px; padding-bottom: 0px;">this group</span> voted:
    </p>
  </div>
  
  <div id="carousel" style="
        min-height: 300px; {{! prevent window from scrolling on mobile when carousel is clobbered }}
"></div>
</div>

</div>