<div class="analyze-group-pane">
	<div id="vis_sibling_above_tab_content">
		
	</div>

	<div id="carousel" style="
        {{!-- visibility: hidden; --}}
        display: none;
        min-height: 300px; {{! prevent window from scrolling on mobile when carousel is clobbered }}
"></div>
{{!-- 
	<div class="analyze-group-member-container">
     {{#each ptptois}}
  		<div class="analyze-group-member">
  			<img src="{{picture}}">
  			{{#if name}}
          &nbsp;
    			<p class="analyze-group-member-name">{{name}}</p>
        {{/if}}
        {{#if location}}
    			&nbsp;&bull;&nbsp;
    			<p class="analyze-group-member-city">{{location}}</p>
        {{/if}}
        {{#if hasSocial}}
    			&nbsp;&bull;&nbsp;
    			{{#if twitter}}<i class="fa fa-twitter"></i> &nbsp; {{/if}}{{#if facebook}}<i class="fa fa-facebook"></i>{{/if}}
        {{/if}}
  		</div>
    {{/each}}
    <div class="analyze-group-member-others">
			<p>+423 Others</p>
		</div>	

	</div> --}}

<center id="groupMap"></center>

</div>
