
{{! 


  DUPLICATION WARNING!!!

  See the carousel template markup, which lives in analyze-global.js

}}

<div class="query_result_item {{#if selected}}selected{{/if}}" draggable="true">
  <p><span class="a">&#9650; {{A}}</span> <span class="d">&#9660; {{D}}</span></p>
  <p>
    {{#if showCheckbox}}
      <input
        type="checkbox"
        class="powerCheckbox"
        {{#if unchecked}}
        {{else}}
          checked
        {{/if}}
        ></input>
    {{/if}}
    {{txt}}
  </p>
</div>

