<div
  class="unselectable"
  style="
    padding: 0px 0px 0px 0px;
  ">
  <p
    class="analyze-group-banner-1"
    style="
      background-color: rgb(231,231,231);
      padding: 10px;
      border-bottom: 1px solid rgb(211,211,211);
      border-radius: 4px 4px 0px 0px;
    ">
    <span id="analyzeGroupGroupName" style="">
      {{s.heresHowGroupVoted_sub}}
    </span>
    <span
      id="numMembers"
      style="
        display: none;
        font-style: italic;
        font-size: 14px;
        text-transform: initial;
        float: right;
        position: relative;
        top: 4px;">
    </span>
  </p>

	<div
    id="groupCarouselParent"
    style="position: relative;"
    >
			<div
        id="carouselForGroup"
        style="
		      display: none;
          ">
      </div>
	</div>

  {{view participants}}
  <center id="groupMap"></center>

</div>
