<div style ="
{{#ifNotXs}}
border-style: solid;
border-width: 0px;
border-top-width: 1px;
border-color: lightgray;
border-right: 3px solid lightgrey;
border-bottom: 3px solid lightgrey;
border-left: 1px solid lightgrey;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
{{/ifNotXs}}
">

<span id="vis_sibling_above_tab_content"></span>
  
<div id="analyzeHeader" class="hidden-xs">


  <form id="commentSearch" role="form" style="
      margin-top: 20px;
  ">
    <input type="text" class="form-control" id="commentSearchInput" placeholder="Search for comments">
  </form>

  <div id="commentSort">

    <span class="control">Sort by</span>
    <span id="sortAgree" class="sort control"># of Agrees </span> 
    <span id="sortDisagree" class="sort control"># of Disagrees </span> 
    <span id="sortDivisive" class="sort control">
        {{#ifNotIE8}}
          <i class="fa fa-exchange"></i>
        {{/ifNotIE8}}
      Divisive</span> 
</div> 

{{!-- <div id="carousel" style="overflow:hidden;">
</div> --}}

<div id="commentListView" class="hidden-xs">
{{view analyzeCollectionView}}
</div>
</div>