<div
  class="majority-tab"
  style="
    padding: 0px 5px 0px 5px;
  ">
  <p class="analyze-group-banner-1 ">
    <span style="">
      {{s.acrossAllPtpts}}
    </span>
    <span
      class="majorityNumMembers"
      style="
        display: none;
        font-style: italic;
        font-size: 14px;
        text-transform: initial;
        float: right;
        position: relative;
        top: 4px;
        ">
      </span>
  </p>
  <div
    id="carouselConsensus"
    style="overflow: hidden;
    ">
  </div>
</div>
