
<div>

<span id="vis_sibling_above_tab_content"></span>
  
<div id="analyzeHeader" class="hidden-xs">


  <form id="commentSearch" role="form" style="
      margin-top: 20px;
  ">
    <input type="text" class="form-control" id="commentSearchInput" placeholder="Search for comments">
  </form>

  <div id="commentSort">

    <span class="control">Sort by</span>
    <span id="sortAgree" class="sort control"># of Agrees </span> 
    <span id="sortDisagree" class="sort control"># of Disagrees </span> 
    <span id="sortDivisive" class="sort control">
        {{#ifNotIE8}}
          <i class="icon-exchange"></i>
        {{/ifNotIE8}}
      Divisive</span> 
</div> 

  <div id="groupStats" style="display:none">
    {{!-- <p>
      {{numSelected}} people in the selected group.
    </p> --}}
    <h5 style="padding:10px; line-height: 165%"> {{! line-height since the span around "selected group may vertically overlap with the rest of the text }}
      The following comments differentiate the <span class="hull_selection active_group" style="padding: 5px; padding-top: 0px; padding-bottom: 0px;">selected group</span> from the rest:
    </h5>
  </div>

</div>

<!--class='visible-xs'-->
<div id="carousel" class="t-span6 col-xs-12 col-sm-6 col-md-7 col-lg-8 visible-xs" style="overflow:hidden">
</div>

<div class="hidden-xs">
{{view analyzeCollectionView}}
</div>

</div>