<div class="majority-tab">
  <p class="analyze-group-banner-1 ">
    Majority Opinion
    <span
      class="majorityNumMembers"
      style="
        display: none;
        font-style: italic;
        font-size: 14px;
        text-transform: initial;
        float: right;
        position: relative;
        top: 4px;
        ">
      </span>
  </p>
  <div
    id="carouselConsensus"
    style="overflow: hidden;
    ">
  </div>
</div>
