<div class="analyze-group-pane">
	{{!-- <div id="vis_sibling_above_tab_content"></div> --}}
	<p class="analyze-group-banner-1 "> Group Summary </p>
	<div id="carousel" style="
        {{!-- visibility: hidden; --}}
        display: none;
        {{!-- min-height: 300px;  --}}{{! prevent window from scrolling on mobile when carousel is clobbered }}
	"></div>

  {{view participants}}


<center id="groupMap"></center>

</div>
