<div>
  <div class="container alert alert-warning">
    {{!-- <div class="row col-xs-12"> --}}
      Welcome to pol.is! You have {{trialDaysRemaining}} days remaining in your free trial.
      <a href="/plan/upgrade/student">Upgrade Now</a>
    {{!-- </div> --}}
  </div>
</div>
