
		  <div class="Notification Notification--warning text-center" style="margin-top: -20px">
		    {{!-- <div class="row col-xs-12"> --}}
		      <i class="fa fa-bell-o"></i>&nbsp; Welcome to pol.is! {{> trialRemainingStatement}}
		      <a href="{{settings_href}}">Upgrade Now</a>
		    {{!-- </div> --}}
		  </div>
