
		{{!--   <div class="Notification Notification--warning text-center" style="margin-top: -20px">
		      <i class="fa fa-bell-o"></i>&nbsp; Welcome to pol.is! {{> trialRemainingStatement}}
		      <a href="{{settings_href}}">Upgrade Now</a>
		  </div>
 --}}