<div>
  <div class="container alert alert-warning">
    {{!-- <div class="row col-xs-12"> --}}
      Welcome to pol.is! {{> trialRemainingStatement}}
      <a href="/settings">Upgrade Now</a>
    {{!-- </div> --}}
  </div>
</div>