<div class="row">
  <div class="col-md-8 col-md-offset-2 Notification Notification--warning">
    {{!-- <div class="row col-xs-12"> --}}
      <span class="WarningIcon"><i class="fa fa-bell"></i></span>
      Welcome to pol<span class="Logo--blue">.</span>is! You have {{trialDaysRemaining}} days remaining in your free trial.
      <a href="/settings">Upgrade Now</a>
    {{!-- </div> --}}
  </div>
</div>
