

<h5 style="font-weight:100; margin-bottom: 20px"> SEED COMMENTS </h5>
		<div class="alert alert-block alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button> 	
      <p> Add 'starter' comments to the conversation. <i class="icon-info-sign"></i> <span id="seedPopover"> Tell me more.</span></p>
    </div>
  		<textarea id="comment_form_textarea" rows="9" name="txt" type="text" placeholder="'We should use Mac' - then, as a separate seed comment - 'We should use PC'"></textarea>
  		<button id="comment_button" class="btn" type="submit"> Add Comment </button> <!-- 'add as many as you like!' -->
 

{{collection}}
 

