<div id="fooparty"
  class="custom_gutter"
  {{!-- style="border-radius: 10px; border: 3px; border-top: 1px; border-left: 1px; border-style:solid; border-color: lightgray; background-color: white; --}}
  style="border-radius: 10px; border: 3px; border-top: 1px; border-left: 1px; border-style:none; border-color: lightgray; background-color: white;
  ">

<form
  role="form"
  style="
    margin-left:10px;
    margin-right:10px;
    margin-bottom: 20px; {{! prevent button from going over the edge of the pane }}
    padding-bottom: 1px; {{! needed to prevent stripe of background_content color showing on mobile }}
    ">
	<div class="form-group" style="position:relative">

   {{#if is_active}}

		<textarea
      class="form-control comment_form_textarea_width"
      id="comment_form_textarea"
      rows="5"
      style=" font-size: 16px"
      name="txt"
      type="text"
      maxlength="500"
      placeholder="Submit your own opinions here. Shorter is better - break up your ideas. You are not responding to anyone else directly - comments are sent out randomly to all participants." 
      autofocus
    ></textarea>
		<button
      class="Btn Btn-primary pull-right"
      style=" margin-top: 20px"
      id="comment_button"
      type="submit"
      >
      Send
    </button>
   {{else}}
      <div  style="margin: 20px;" class="Notification Notification--warning">
        <p class="HeadingF HeadingF--light "><i class="fa fa-bell-o"></i>&nbsp;<strong>This conversation is closed.</strong></p>
        <p>No further commenting is allowed.</p>
      </div>
   {{/if}}
  </div>
</form>

  {{! Using span to prevent this from eating up space when empty, which causes a gray bar to appear on sm layouts }}
  <span style="margin-top: 45px; margin-left: 8px;">
    {{view commentsByMeView}}
  </span>
</div>