<div class="StarterComments">
	<p class="HeadingC">
		Comment
		{{!-- when you are able to delete comments, uncomment this:
		<button class="BtnLink StarterComments-delete">
			<span class="is-visually-hidden">Delete Comment</span>
		</button> --}}
	</p>
	<p class="StarterComments-text">
		{{txt}}
	</p>
</div>
