<form role="form" class="FormVertical">
	<div class="FormVertical-group">

		<textarea
      id="comment_form_textarea"
      class="FormControl"
      rows="4"
      maxlength="200"
      name="txt"
      type="text"
></textarea>

	</div>
	<div class="FormVertical-group">
		<button id="comment_button" class="Btn Btn-alt" type="submit"> Add Comment </button> <!-- 'add as many as you like!' -->
	</div>

</form>


{{view commentsByMeView}}
