  <form id="comment_form">
    <fieldset>

      <textarea id="comment_form_textarea" rows="8" name="txt" type="text" placeholder="What you write will be sent out randomly to other participants; you are not directly responding to anyone else. Break up your ideas: shorter is more successful than longer."></textarea>

      <button id="comment_button" class="btn pull-right" type="submit"> Submit Comment </button>

    </fieldset>
  </form>

{{collection}}