<div class="StarterComments">
	<p class="HeadingB StarterComments-heading">
		Comment
		<button class="BtnLink StarterComments-delete">
			<span class="is-visually-hidden">Delete Comment</span>
		</button>
	</p>
	<p class="StarterComments-text">
		{{txt}}
	</p>
</div>
