<form role="form">
	<div class="form-group">

		<textarea
      id="comment_form_textarea"
      class="form-control"
      rows="5"
      maxlength="500"
      name="txt"
      type="text"
      placeholder="'We should legalize the local growing and use of Marijuana, but restrict importation from Mexico to prevent dangerous existing cartels from profiting.'"></textarea>

	</div>
	<div class="form-group">
		<button id="comment_button" class="btn btn-default" type="submit"> Add Comment </button> <!-- 'add as many as you like!' --> 	
	</div>
	
</form>


{{view commentsByMeView}}