<textarea id="comment_form_textarea" rows="9" name="txt" type="text" placeholder="'We should make the widget purchase now, before widget components get more expensive.' - then, as a separate seed comment - 'We should not make any widget purchases now, because we've made it through the past couple years just fine using gizmos and doodads.'"></textarea>

<button id="comment_button" class="btn" type="submit"> Submit Comment </button>

{{collection}}
 

