<form role="form">
	<div class="form-group">

		<textarea
      id="comment_form_textarea"
      class="form-control"
      rows="5"
      maxlength="500"
      name="txt"
      type="text"
></textarea>

	</div>
	<div class="form-group">
		<button id="comment_button" class="btn btn-default" type="submit"> Add Comment </button> <!-- 'add as many as you like!' --> 	
	</div>
	
</form>


{{view commentsByMeView}}