<div class="starterComments">
	<p class="HeadingB starterComments-heading">
		Comment
		<button class="BtnLink starterComments-delete">
			<i class="fa fa-delete"></i>
			<span class="is-visually-hidden">Delete Comment</span>
		</button>
	</p>
	<p class="starterComments-text">
		{{txt}}
	</p>
</div>
