<form role="form" class="FormVertical">
	<div class="FormVertical-group">

		<textarea
      id="comment_form_textarea"
      class="FormControl"
      rows="4"
      maxlength="200"
      name="txt"
      type="text"
></textarea>

	</div>
	
    <div id="commentNotQuestionAlert" class="alert alert-warning" style="font-family: brandon-grotesque; display:none; padding: 5px; margin-top:10px; margin-bottom:5px;" role="alert"><p> <i>Comments should make statements rather than ask questions. Participants will agree or disagree with the statements you make.</i></p></div>          

    <table width="100%">
      <tr>
        <td style="width:100%; text-align: left; padding: 10px 10px 0px 0px">
          <div id="commentSentAlert" class="alert alert-success" style="font-family: brandon-grotesque; display:none" role="alert"><p> <strong> Comment Sent! </strong></p></div>
          <div id="commentTooLongAlert" class="alert alert-warning" style="font-family: brandon-grotesque; display:none" role="alert"><p> <strong> Comment is too long. </strong></p></div>
          <div id="commentSentDemoAlert" class="alert alert-success" style="font-family: brandon-grotesque; display:none" role="alert"><p> <strong> Comment Sent!</strong> (not really, this is a demo)</p></div>
{{!--           {{#if error}}
          <div class="alert alert-danger" style="font-family: brandon-grotesque" role="alert"><p> <strong>{{error}}</strong>{{#if errorExtra}}{{errorExtra}}{{/if}}</p></div>
          {{/if}} --}}
        </td>
        <td style="min-width:50px; text-align: right; padding: 10px 10px 0px 0px; vertical-align: top;">
          <div id="commentCharCount" style='color: black; font-family: "brandon-grotesque", "Brandon Grotesque", "Futura", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif'>{{! +200 }}</div>
        </td>
        <td style="text-align: right; vertical-align: top">
          <button
            class="Btn Btn-primary"
            id="comment_button"
            style="margin-top: 10px"
            type="submit"
            >
            Add Comment
          </button>
        </td>
      </tr>
    </table>


</form>


{{view commentsByMeView}}
