<div id="fooparty">

<form
  role="form"
  style="
    margin-left:10px;
    margin-right:10px;
    padding-bottom: 1px; {{! needed to prevent stripe of background_content color showing on mobile }}
    ">
	<div class="form-group" style="position:relative">

		<textarea
      class="form-control comment_form_textarea_width"

      id="comment_form_textarea"
      rows="5"
      style=" font-size: 16px"
      name="txt"
      type="text"
      maxlength="500"
      placeholder="Submit your own opinions here. Shorter is better - break up your ideas. You are not responding to anyone else directly - comments are sent out randomly to all participants."
    ></textarea>
		<button
      class="form-control btn btn-primary comment_form_button_position"
      style="background-color: #379FF8;"
      id="comment_button"
      type="submit"
      >
      Send
    </button>
  </div>
</form>

  {{! Using span to prevent this from eating up space when empty, which causes a gray bar to appear on sm layouts }}
  <span style="margin-top: 45px; margin-left: 8px;">
    {{view commentsByMeView}}
  </span>
</div>