<textarea id="comment_form_textarea" rows="9" name="txt" type="text" placeholder="'We should use Mac' - then, as a separate seed comment - 'We should use PC'"></textarea>

<button id="comment_button" class="btn" type="submit"> Add Comment </button> <!-- 'add as many as you like!' --> 

{{collection}}

