<form role="form">
	<div class="form-group">
		<textarea class="form-control" id="comment_form_textarea" rows="9" name="txt" type="text" placeholder="Submit your own opinions here. Shorter is better - break up your ideas. You are not responding to anyone else directly - comments are sent out randomly to all participants."></textarea>
	</div>
	<div class="form-group">
		<button class="form-control btn btn-primary" id="comment_button" type="submit"> Submit Comment </button>
	</div>
	
</form>

{{collection}}