<div
  style="
    padding: 15px;
    ">

  <p> <strong> What am I seeing? </strong> Opinion groups! People that generally vote the same are grouped together. Click them to find out how they voted. </p>

  <p> <strong> What do I do? </strong> Vote on comments written by other participants by clicking 'agree' and 'disagree'. Write comments of your own (keep them to a single idea each). Invite your friends to see how they compare to you and others!</p>

  {{!-- ========== SOCIAL BUTTONS ========== --}}
  <div style="margin: 10px 0px">
    <button class="facebookShareButton userWillShareOnFacebook">
      <i class="fa fa-facebook-square"></i>
      &nbsp;Share
    </button>
    {{#if fbShareCount}}
	  <span class="arrow_box">
	    {{fbShareCount}}
      </span>
	{{/if}}

    <button class="twitterShareButton userWillShareOnTwitter">
      <i class="fa fa-twitter"></i>
      &nbsp;Tweet
    </button>
    {{#if twitterShareCount}}
      <span class="arrow_box">
        {{twitterShareCount}}
      </span>
    {{/if}}
  </div>

</div>


{{!-- <p> This conversation has
  <span>
    <strong> numParticipants: {{numParticipants}} </strong>
    participants
  </span>
  and
  <span>
  <strong> numComments: {{numComments}} </strong>
    comments
  </span>
</p> --}}



  {{!-- <p> Tell me more: You've probably seen 'recommended products' on Amazon, or 'recommended movies' on Netflix. Each of those services uses statistics to group you with people who buy and watch similar things, then show you things that those people bought or watched. </p>

  <p> When you cast a vote on a comment, you are grouped with people who voted like you did! You can see those groups above. Each is made up of people who have similar opinions. There are fascinating insights to discover in each conversation. Go ahead - click a group to see what brought them together and what makes them unique! </p> --}}