<div id="conversationTabs" class="
  custom_gutter_via_padding
  {{#if use_background_content_class}}background_content{{/if}}
  ">

 <table>
  <tr>
  <td style="width:100%">
  <ul class="nav nav-tabs tab-conv"
    style="border-bottom: 0px">
    <li
      id="voteTab"
      {{#if voteActive}} class="active" {{/if}}
    >
      <a
        href="#commentView"
        id="commentViewTab"
        class="HeadingC polis-tab"
        style="padding: 10px 5px !important; border: none;  text-transform: none;"
        data-toggle="tab">
        {{!-- {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-align-justify"></i>{{/ifNotIE8}}{{#if showTabs}}READ &amp; REACT{{/if}} --}}
        {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-comments"></i>{{/ifNotIE8}}
        Read
      </a>
    </li>
    <li
      class="{{#if writeActive}}active{{/if}}" 
    >
      <a
        href="#commentForm"
        id="commentFormTab"
        class="HeadingC polis-tab"
        style="padding: 10px 5px !important; border: none; text-transform: none;"
        data-toggle="tab">
        {{!-- {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-pencil"></i>{{/ifNotIE8}}{{#if showTabs}} WRITE{{/if}} --}}
        {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-pencil"></i>{{/ifNotIE8}}
        Write
      </a>
    </li>
    {{#if allowAnalyze}}
    <li
      class="{{#if analyzeActive}}active{{/if}}" 
    >
      <a
        href="#analyze"
        id="analyzeTab"
        class="HeadingC polis-tab"
        style="padding: 10px 5px !important; border: none;  text-transform: none;"
        data-toggle="tab">
        {{!-- See Consensus --}}
        {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-globe"></i>{{/ifNotIE8}}
        Majority
        {{!-- {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-coffee"></i>{{/ifNotIE8}}{{#if showTabs}} ANALYZE{{/if}} --}}
      </a>
    </li>
    {{/if}}
    <li
      class="{{#if groupActive}}active{{/if}}"
    >
      <a
        href="#group"
        id="groupTab"
        class="polis-tab"
        style="display:none;"
        data-toggle="tab">
      {{! Group (nothing to show) }}
      </a>
    </li>
    <li
      class="{{#if legendActive}}active{{/if}}"
    >
      <a
        href="#legend"
        id="legendTab"
        class="polis-tab"
        style="display:none;"
        data-toggle="tab">
        legend
      {{! nothing to show }}
      </a>
    </li>  
  </ul>
  </td>
  <td>


{{!--   <a
    href="#commentForm"
    id="commentFormTab"
    class="HeadingD polis-tab pull-right"
    style="padding: 10px 5px !important; border: none; margin-top: -42px; color: #777"
    data-toggle="tab">

    <img src="https://pol.is/polis-favicon_favicon.png" height="16px" id="opinion_groups_logo">
  Login
  </a>
 --}}

{{#if showLogout}}
<div class="dropdown">
  <button 
  id='loginButtonInTabsBar'
  style='
    border: none;
    color: #777;
    font-family: "brandon-grotesque", "Brandon Grotesque", "Futura", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    ' class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    <img src="https://pol.is/polis-favicon_favicon.png" height="16px" id="opinion_groups_logo">
    {{#ifNotXs}}
    {{dropdownLabel}}
    {{/ifNotXs}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1" style='font-family: brandon-grotesque", "Brandon Grotesque", "Futura", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif'>
    {{#ifXs}}
      <li role="presentation" style="padding-left: 20px; color:gray;"> Logged in as <div>{{dropdownLabel}}</div> </li>
      <li role="presentation" class="divider"></li>
    {{/ifXs}}
{{!-- {{#ifNotAuthenticated}}
    <li role="presentation"><a id="twitterLoginBtn" role="menuitem" tabindex="-1" href="#"><div style="display: inline-block; width: 20px"><i class="fa fa-twitter"></i></div> Twitter</a></li>
    <li role="presentation"><a id="fbLoginBtn" role="menuitem" tabindex="-1" href="#"><div style="display: inline-block; width: 20px"><i class="fa fa-facebook"></i></div> Facebook</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><div style="display: inline-block; width: 20px"><img src="https://pol.is/polis-favicon_favicon.png" height="16px" id="opinion_groups_logo"/></div> Polis</a></li> 
{{/ifNotAuthenticated}} --}}

{{!-- {{#ifAuthenticated}} --}}
  {{#unless hasTwitter}}
    <li role="presentation"><a id="twitterConnectBtn" role="menuitem" tabindex="-1" href="#"><div style="display: inline-block; width: 20px"><i class="fa fa-twitter"></i></div>Connect Twitter</a></li>
  {{/unless}}
  {{#unless hasFacebook}}
    <li role="presentation"><a id="fbConnectBtn" role="menuitem" tabindex="-1" href="#"><div style="display: inline-block; width: 20px"><i class="fa fa-facebook"></i></div>Connect Facebook</a></li>
  {{/unless}}
    {{!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><div style="display: inline-block; width: 20px"><img src="https://pol.is/polis-favicon_favicon.png" height="16px" id="opinion_groups_logo"/></div> Polis</a></li> --}}

  {{#if showLogout}}
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/user/logout{{logoutDest}}">Logout</a></li>
  {{/if}}
{{!-- {{/ifAuthenticated}} --}}

  </ul>
</div>

{{/if}} {{! showLogout}}

</td>
</table>

</div>


<div style="border-bottom: solid 2px #eee"></div>


