<!--section>
The conversation you are about to join requires that you create a Polis account.
Your name and email address will be available to the conversation starter, and with other invitees to the conversation.
Beyond that, we will not share this information with others.
</section>

<section>
{{view gatekeeperAuthView}}
</section-->

<section class="container">
	<div class="row">
		<div class="span4 offset4">
			<h4 class="gatekeeperHeader">The conversation owner has requested that you provide the following information before joining:</h2>
			<form>
			   {{view metadataQuestionsView}}
			   <button type="submit" class="btn btn-large gatekeeperButton"> Join Conversation </button>
			</form>
		</div> <!-- span -->
	</div> <!-- row -->
</section> <!-- container -->