<div id="conversationTabs" class="
  custom_gutter_via_padding
  {{#if use_background_content_class}}background_content{{/if}}
  ">
{{#if showGroupHeader}}
  <a class="analyzeGroupCloseButton" style="cursor:pointer; padding-bottom:10px"> {{#ifNotIE8}}<i class="fa fa-angle-left"></i>{{/ifNotIE8}} Back to all comments</a>
{{else}}
  <ul class="nav nav-tabs tab-conv"
    style="border-bottom: 0px">
    <li
      {{#if voteActive}} class="active" {{/if}}
    >
      <a
        href="#commentView"
        id="commentViewTab"
        class="HeadingD"
        style="{{#if smallTabs}}font-size:95%{{/if}}"
        data-toggle="tab">
        {{#ifNotIE8}}<i class="fa fa-align-justify"></i>{{/ifNotIE8}} 
        READ &amp; REACT
      </a>
    </li>
    <li
      {{#if writeActive}} class="active" {{/if}}
    >
      <a
        href="#commentForm"
        id="commentFormTab"
        class="HeadingD"
        style="{{#if smallTabs}}font-size:95%{{/if}}"
        data-toggle="tab">
        {{#ifNotIE8}}<i class="fa fa-pencil"></i>{{/ifNotIE8}}
        WRITE
      </a>
    </li>
    <li
      {{#if analyzeActive}} class="active" {{/if}}
    >
      <a
        href="#analyze"
        id="analyzeTab"
        class="HeadingD"
        style="{{#if smallTabs}}font-size:95%{{/if}}"
        data-toggle="tab">
        {{#ifNotIE8}}<i class="fa fa-coffee"></i>{{/ifNotIE8}}
        ANALYZE
      </a>
    </li>
  </ul>
{{/if}}
</div>