<div style="margin-top: 20px">
<form role="form">
  {{!-- ========== TOPIC ========== --}}
  <div>
    <p style="font-size: 18px; font-weight: 700;">
      Topic
    </p>
    <input
      style="
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="topicForm"
      name="topic"
      value="{{topic}}" />
  </div>
  {{!-- ========== DESCRIPTION ========== --}}
  <div>
    <p style="font-size: 18px; font-weight: 700;"> Description </p>
  	<p><em>
      The description can include
      <a
        href="http://daringfireball.net/projects/markdown/syntax"
        target="_blank">
        markdown
      </a>
      .</em>
    </p>
  	<textarea
      style="font-family: monospace; width: 100%;"
      id="descriptionForm"
      name="description"
      rows="10">{{description}}</textarea>
  </div>
  {{!-- ========== MODERATION SETTINGS ========== --}}
  <p>
    Strict moderation (no comments shown without approval)
  	<input
      id="strictOn"
      type="radio"
      name="strict_moderation"
      value="true"
      {{#if strict_moderation}}
        checked
      {{/if}}>
      Yes
  	<input
      id="strictOff"
      type="radio"
      name="strict_moderation"
      value=""
      {{#unless strict_moderation}}
        checked
      {{/unless}}>
      No
  </p>
  <p>
    Show comment form to participants
    <input
      id="writeTypeOn"
      type="radio"
      name="write_type"
      value="true"
      {{#if write_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="writeTypeOff"
      type="radio"
      name="write_type"
      value=""
      {{#unless write_type}}
        checked
      {{/unless}}>
      No
  </p>
  <p>
    Show visualization to participants
  	<input
      id="visTypeOn"
      type="radio"
      name="vis_type"
      value="true"
      {{#if vis_type}}
        checked
      {{/if}}>
      Yes
  	<input
      id="visTypeOff"
      type="radio"
      name="vis_type"
      value=""
      {{#unless vis_type}}
        checked
      {{/unless}}>
      No
  </p>
  <p>
    Show help text to participants
    <input
      id="helpTypeOn"
      type="radio"
      name="help_type"
      value="true"
      {{#if help_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="helpTypeOff"
      type="radio"
      name="help_type"
      value=""
      {{#unless help_type}}
        checked
      {{/unless}}>
      No
  </p>
  <p>
    Show social sharing buttons to participants
    <input
      id="socialbtnTypeOn"
      type="radio"
      name="socialbtn_type"
      value="true"
      {{#if socialbtn_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="socialbtnTypeOff"
      type="radio"
      name="socialbtn_type"
      value=""
      {{#unless socialbtn_type}}
        checked
      {{/unless}}>
      No
  </p>
  <p>
    Customize background color
    <input
      style="
        display: inline;
        width: 80px;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="customBgColor"
      name="bgcolor"
      value="{{bgcolor}}" />
  </p>
  <p>
    Customize Submit button CSS (separated by ;)
    <textarea
      style="font-family: monospace; width: 100%;"
      style="
        display: inline;
        width: 80px;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="customStyleBtn"
      name="style_btn"
      rows="1">{{style_btn}}</textarea>
  </p>
  {{!-- ========== SAVE BUTTON ========== --}}
  <div class="">
  	<button
      style="margin-top: 10px"
      class="Btn Btn-primary"
      name="formAction"
      type="button"
      id="submitButton"
      value="publish">
      Save Changes
    </button>
  </div>
</form>
</div>
