<div id="conversationTabs" class="
  custom_gutter_via_padding
  {{#if use_background_content_class}}background_content{{/if}}
  ">

  <ul class="nav nav-tabs tab-conv"
    style="border-bottom: 0px">
    <li
      {{#if voteActive}} class="active" {{/if}}
    >
      <a
        href="#commentView"
        id="commentViewTab"
        style="{{#if smallTabs}}font-size:95%{{/if}}"
        data-toggle="tab">
        {{#ifNotIE8}}<i class="fa fa-align-justify"></i>{{/ifNotIE8}} 
        {{#unless showGroupHeader}}Read &amp; React{{/unless}}
      </a>
    </li>
    <li
      {{#if writeActive}} class="active" {{/if}}
    >
      <a
        href="#commentForm"
        id="commentFormTab"
        style="{{#if smallTabs}}font-size:95%{{/if}}"
        data-toggle="tab">
        {{#ifNotIE8}}<i class="fa fa-pencil"></i>{{/ifNotIE8}}
        {{#unless showGroupHeader}}Write{{/unless}}
      </a>
    </li>
    <li
      {{#if analyzeActive}} class="active" {{/if}}
    >
      <a
        href="#analyze"
        id="analyzeTab"
        style="{{#if smallTabs}}font-size:95%;{{/if}} {{#ifXs}}display:none;{{/ifXs}}"
        data-toggle="tab">
        {{#ifNotIE8}}<i class="fa fa-coffee"></i>{{/ifNotIE8}}
        {{#unless showGroupHeader}}Analyze{{/unless}}
      </a>
    </li>
    <li
      {{#if groupActive}} class="active" {{/if}}
    >
      <a
        href="#group"
        id="groupTab"
        style="{{#if smallTabs}}font-size:95%;{{/if}} display:none;"
        data-toggle="tab">
      {{! Group (nothing to show) }}
      </a>
    </li>
    <li
      {{#if legendActive}} class="active" {{/if}}
    >
      <a
        href="#legend"
        id="legendTab"
        style="
          {{#if smallTabs}}font-size:95%;{{/if}}
          {{!-- display:none; --}}
        "
        data-toggle="tab">
        legend
      {{! nothing to show }}
      </a>
    </li>    
  </ul>
</div>