<div>
	<p> here are some stats about the conversation </p>

	<div>
		<span>
		    numParticipants: {{numParticipants}}
		</span>
		<span>
		    numComments: {{numComments}}
		</span>
	</div>

  <p> <strong> What am I seeing? </strong> You've probably seen 'recommended products' on Amazon, or 'recommended movies' on Netflix. Each of those services uses statistics to group you with people who buy and watch similar things, then show you things that those people bought or watched. </p>

  <p> When you cast a vote on a comment in polis, we group you with people who voted like you did! Then, unlike Netflix and Amazon, we show <em> you </em> the groups. There are fascinating discoveries to be had in each conversation - go ahead - click a group and see what brought them together! Invite your friends to see how they compare. [repeat social buttons] </p>

</div>