<div id="conversationTabs" class="
  custom_gutter_via_padding
  {{#if use_background_content_class}}background_content{{/if}}
  ">

  <ul class="nav nav-tabs tab-conv"
    style="border-bottom: 0px">
    <li
      {{#if voteActive}} class="active" {{/if}}
    >
      <a
        href="#commentView"
        id="commentViewTab"
        class="HeadingD polis-tab"
        style="padding: 10px 10px;"
        data-toggle="tab">
        {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-align-justify"></i>{{/ifNotIE8}}{{#if showTabs}} READ &amp; REACT{{/if}}
      </a>
    </li>
    <li
      class="{{#if writeActive}}active{{/if}}" 
    >
      <a
        href="#commentForm"
        id="commentFormTab"
        class="HeadingD polis-tab"
        style="padding: 10px 10px;"
        data-toggle="tab">
        {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-pencil"></i>{{/ifNotIE8}}{{#if showTabs}} WRITE{{/if}}
      </a>
    </li>
    <li
      class="{{#if analyzeActive}}active{{/if}}" 
    >
      <a
        href="#analyze"
        id="analyzeTab"
        class="HeadingD polis-tab"
        style="padding: 10px 10px;"
        data-toggle="tab">
        {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-coffee"></i>{{/ifNotIE8}}{{#if showTabs}} ANALYZE{{/if}}
      </a>
    </li>
    <li
      class="{{#if groupActive}}active{{/if}}"
    >
      <a
        href="#group"
        id="groupTab"
        class="polis-tab"
        style="display:none;"
        data-toggle="tab">
      {{! Group (nothing to show) }}
      </a>
    </li>
    <li
      class="{{#if legendActive}}active{{/if}}"
    >
      <a
        href="#legend"
        id="legendTab"
        class="polis-tab"
        style="display:none;"
        data-toggle="tab">
        legend
      {{! nothing to show }}
      </a>
    </li>    
  </ul>
</div>
