<div>
  <ul>
    <li>voteTimes: totalVotes,</li>
    <li>firstVoteTimes: actualParticipants,</li>
    <li>commentTimes: totalComments,</li>
    <li>firstCommentTimes: commenters,</li>
    <li>viewTimes: viewTimes,</li>
  </ul>

  <svg id="ptptCountsVis" width="1000" height="200"></svg>

</div>