<div id="conversationTabs" class="
  custom_gutter_via_padding
  {{#if use_background_content_class}}background_content{{/if}}
  ">

  <ul class="nav nav-tabs tab-conv"
    style="border-bottom: 0px">
    <li
      {{#if voteActive}} class="active" {{/if}}
    >
      <a
        href="#commentView"
        id="commentViewTab"
        class="HeadingC polis-tab"
        style="padding: 10px 10px !important; border: none;  text-transform: none;"
        data-toggle="tab">
        {{!-- {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-align-justify"></i>{{/ifNotIE8}}{{#if showTabs}}READ &amp; REACT{{/if}} --}}
        Read
      </a>
    </li>
    <li
      class="{{#if writeActive}}active{{/if}}" 
    >
      <a
        href="#commentForm"
        id="commentFormTab"
        class="HeadingC polis-tab"
        style="padding: 10px 10px !important; border: none; text-transform: none;"
        data-toggle="tab">
        {{!-- {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-pencil"></i>{{/ifNotIE8}}{{#if showTabs}} WRITE{{/if}} --}}
        Write
      </a>
    </li>
    <li
      class="{{#if analyzeActive}}active{{/if}}" 
    >
      <a
        href="#analyze"
        id="analyzeTab"
        class="HeadingC polis-tab"
        style="padding: 10px 10px !important; border: none;  text-transform: none;"
        data-toggle="tab">
        See Consensus
        {{!-- {{#ifNotIE8}}<i style="font-size: 16px" class="fa fa-coffee"></i>{{/ifNotIE8}}{{#if showTabs}} ANALYZE{{/if}} --}}
      </a>
    </li>
    <li
      class="{{#if groupActive}}active{{/if}}"
    >
      <a
        href="#group"
        id="groupTab"
        class="polis-tab"
        style="display:none;"
        data-toggle="tab">
      {{! Group (nothing to show) }}
      </a>
    </li>
    <li
      class="{{#if legendActive}}active{{/if}}"
    >
      <a
        href="#legend"
        id="legendTab"
        class="polis-tab"
        style="display:none;"
        data-toggle="tab">
        legend
      {{! nothing to show }}
      </a>
    </li>  
  </ul>

  <a
    href="#commentForm"
    id="commentFormTab"
    class="HeadingD polis-tab pull-right"
    style="padding: 10px 5px !important; border: none; margin-top: -42px; color: #777"
    data-toggle="tab">

    <img src="https://pol.is/polis-favicon_favicon.png" height="16px" id="opinion_groups_logo">
  Login
  </a>


</div>

<div style="border-bottom: solid 2px #ccc"></div>


