{{!
<section>
The conversation you are about to join requires that you create a Polis account.
Your name and email address will be available to the conversation starter, and with other invitees to the conversation.
Beyond that, we will not share this information with others.
</section>
}}

<section>
{{view gatekeeperAuthView}}
</section>


<section class="container">
	<div class="row">
    <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12">
      <h1>Welcome to Polis</h1>     
      
      {{#if ownername}}
        <h3>This conversation was started by {{ownername}}</h3>
      {{else}}
        </br>
      {{/if}} 
			<h4 class="gatekeeperHeader">
        Please start by answering these questions:
      </h4>
			<form>
			  {{view metadataQuestionsView}}
			  <button type="submit" class="btn btn-lg btn-success btn-lg"> Next </button>
			</form>
		</div> <!-- span -->
	</div> <!-- row -->
</section> <!-- container -->