{{#if showGroupHeader}}
  <a class="analyzeGroupCloseButton" style="cursor:pointer; padding-bottom:10px"> {{#ifNotIE8}}<i class="icon-angle-left"></i>{{/ifNotIE8}} Back to all comments</a>
{{else}}
  <ul class="nav nav-tabs tab-conv"
    style="border-bottom: 0px">
    <li 
      {{#if voteActive}} class="active" {{/if}}
    >
      <a href="#commentView" id="commentViewTab" data-toggle="tab">
        {{#ifNotIE8}}<i class="icon-align-justify"></i>{{/ifNotIE8}} 
        Read &amp; React
      </a>
    </li>
    <li
      {{#if writeActive}} class="active" {{/if}}
    >
      <a href="#commentForm" id="commentFormTab" data-toggle="tab">
        {{#ifNotIE8}}<i class="icon-pencil"></i>{{/ifNotIE8}}
        Write
      </a>
    </li>
    <li
      {{#if analyzeActive}} class="active" {{/if}}
    >
      <a href="#analyze" id="analyzeTab" data-toggle="tab">
        {{#ifNotIE8}}<i class="icon-coffee"></i>{{/ifNotIE8}}
        Analyze
      </a>
    </li>
  </ul>
{{/if}}