<h1>Welcome to Polis!</h1>

<section>
{{view gatekeeperAuthView}}
</section>

<section>
The conversation owner has requested that you answer the following questions before joining the conversation:

<div class="span6">
  {{view metadataQuestionsView}}
</div>

</section>