<div style="margin-top: 20px">
<form role="form">
  {{!-- ========== TOPIC ========== --}}
  <div>
    <p style="font-size: 18px; font-weight: 700;">
      Topic
    </p>
    <input
      style="
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="topicForm"
      name="topic"
      value="{{topic}}" />
  </div>
  {{!-- ========== DESCRIPTION ========== --}}
  <div>
    <p style="font-size: 18px; font-weight: 700;"> Description </p>
  	<p><em>
      The description can include
      <a
        href="http://daringfireball.net/projects/markdown/syntax"
        target="_blank">
        markdown
      </a>
      .</em>
    </p>
  	<textarea
      style="font-family: monospace; width: 100%;"
      id="descriptionForm"
      name="description"
      rows="10">{{description}}</textarea>
  </div>
  {{!-- ========== MODERATION SETTINGS ========== --}}
<h3 style="font-size: 18px; font-weight: 700;">Auth options for participants</h3>
  <p>
    Require auth to vote (<span class="inline-code-blurb">data-auth_needed_to_vote</span>)
    <div><input
      id="auth_needed_to_voteOn"
      type="radio"
      name="auth_needed_to_vote"
      value="true"
      {{#if auth_needed_to_voteIsOn}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_needed_to_voteOff"
      type="radio"
      name="auth_needed_to_vote"
      value=""
      {{#if auth_needed_to_voteIsOff}}
        checked
      {{/if}}>
      No
    <input
      id="auth_needed_to_voteDefault"
      type="radio"
      name="auth_needed_to_vote"
      value=""
      {{#if auth_needed_to_voteDefault}}
        checked
      {{/if}}>
      Default (defaults to No)</div>
  </p>

  <p>
    Require auth to write comments (<span class="inline-code-blurb">data-auth_needed_to_write</span>)
    <div><input
      id="auth_needed_to_writeOn"
      type="radio"
      name="auth_needed_to_write"
      value="true"
      {{#if auth_needed_to_writeIsOn}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_needed_to_writeOff"
      type="radio"
      name="auth_needed_to_write"
      value=""
      {{#if auth_needed_to_writeIsOff}}
        checked
      {{/if}}>
      No
    <input
      id="auth_needed_to_writeDefault"
      type="radio"
      name="auth_needed_to_write"
      value=""
      {{#if auth_needed_to_writeDefault}}
        checked
      {{/if}}>
      Default (defaults to Yes)</div>
  </p>

  <p>
    Allow participants to use Facebook to auth
    (<span class="inline-code-blurb">data-auth_opt_fb</span>)
    <div><input
      id="auth_opt_fbOn"
      type="radio"
      name="auth_opt_fb"
      value="true"
      {{#if auth_opt_fbIsOn}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_opt_fbOff"
      type="radio"
      name="auth_opt_fb"
      value=""
      {{#if auth_opt_fbIsOff}}
        checked
      {{/if}}>
      No
    <input
      id="auth_opt_fbDefault"
      type="radio"
      name="auth_opt_fb"
      value=""
      {{#if auth_opt_fbDefault}}
        checked
      {{/if}}>
      Default (defaults to Yes)</div>
  </p>

  <p>
    Allow participants to use Twitter to auth
    (<span class="inline-code-blurb">data-auth_opt_tw</span>)
    <div><input
      id="auth_opt_twOn"
      type="radio"
      name="auth_opt_tw"
      value="true"
      {{#if auth_opt_twIsOn}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_opt_twOff"
      type="radio"
      name="auth_opt_tw"
      value=""
      {{#if auth_opt_twIsOff}}
        checked
      {{/if}}>
      No
    <input
      id="auth_opt_twDefault"
      type="radio"
      name="auth_opt_tw"
      value=""
      {{#if auth_opt_twDefault}}
        checked
      {{/if}}>
      Default (defaults to Yes)</div>
  </p>

  <p>
    Allow or disallow all third-party auth options for participants
    (<span class="inline-code-blurb">data-auth_opt_allow_3rdparty</span>)
    <div><input
      id="auth_opt_allow_3rdpartyOn"
      type="radio"
      name="auth_opt_allow_3rdparty"
      value="true"
      {{#if auth_opt_allow_3rdpartyIsOn}}
        checked
      {{/if}}>
      Yes
    <input
      id="auth_opt_allow_3rdpartyOff"
      type="radio"
      name="auth_opt_allow_3rdparty"
      value=""
      {{#if auth_opt_allow_3rdpartyIsOff}}
        checked
      {{/if}}>
      No
    <input
      id="auth_opt_allow_3rdpartyDefault"
      type="radio"
      name="auth_opt_allow_3rdparty"
      value=""
      {{#if auth_opt_allow_3rdpartyDefault}}
        checked
      {{/if}}>
      Default (defaults to Yes)</div>
  </p>

  <p style="font-size: 18px; font-weight: 700;">Features</p>

  <p>
    Strict moderation (no comments shown without approval)
    <div><input
      id="strictOn"
      type="radio"
      name="strict_moderation"
      value="true"
      {{#if strict_moderation}}
        checked
      {{/if}}>
      Yes
    <input
      id="strictOff"
      type="radio"
      name="strict_moderation"
      value=""
      {{#unless strict_moderation}}
        checked
      {{/unless}}>
      No</div>
  </p>
  <p>
    Show comment form to participants
    <div><input
      id="writeTypeOn"
      type="radio"
      name="write_type"
      value="true"
      {{#if write_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="writeTypeOff"
      type="radio"
      name="write_type"
      value=""
      {{#unless write_type}}
        checked
      {{/unless}}>
      No</div>
  </p>
  <p>
    Show visualization to participants
    <div><input
      id="visTypeOn"
      type="radio"
      name="vis_type"
      value="true"
      {{#if vis_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="visTypeOff"
      type="radio"
      name="vis_type"
      value=""
      {{#unless vis_type}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p>
    Show help text to participants
    <div><input
      id="helpTypeOn"
      type="radio"
      name="help_type"
      value="true"
      {{#if help_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="helpTypeOff"
      type="radio"
      name="help_type"
      value=""
      {{#unless help_type}}
        checked
      {{/unless}}>
      No</div>
  </p>

  <p>
    Show social sharing buttons to participants
    <div><input
      id="socialbtnTypeOn"
      type="radio"
      name="socialbtn_type"
      value="true"
      {{#if socialbtn_type}}
        checked
      {{/if}}>
      Yes
    <input
      id="socialbtnTypeOff"
      type="radio"
      name="socialbtn_type"
      value=""
      {{#unless socialbtn_type}}
        checked
      {{/unless}}>
      No</div>
  </p>

    <p style="font-size: 18px; font-weight: 700;"> Style </p>

  <p>
    Customize background color (type in a CSS color or hex code (#00ff00))
    <div><input
      style="
        display: inline;
        width: 80px;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="customBgColor"
      name="bgcolor"
      value="{{bgcolor}}" /></div>
  </p>
  <p>
    Customize Submit button CSS (separated by ;)
    <textarea
      style="font-family: monospace; width: 100%;"
      style="
        display: inline;
        width: 80px;
        padding: 5px;
        margin-bottom: 20px;
      "
      id="customStyleBtn"
      name="style_btn"
      rows="1">{{style_btn}}</textarea>
  </p>
  {{!-- ========== SAVE BUTTON ========== --}}
  <div class="">
  	<button
      style="margin-top: 10px"
      class="Btn Btn-primary"
      name="formAction"
      type="button"
      id="submitButton"
      value="publish">
      Save Changes
    </button>
  </div>
</form>
</div>
