<section class="container" >
		<h1 class="HeadingA">{{topic}}</h1>
        {{description}}
        <h2 style="background-color: black; padding: 5px; padding-left: 20px; border-radius: 5px;"><i class="fa fa-umbrella" style="color:#f1c40f">&nbsp;</i><span class="HeadingA" style="color:#f1c40f">#umbrellaMovement</span> <span style="color: #bdc3c7; padding-left: 15px;"> linkshare & discussion board </span></h2>
    {{view courseCollectionView}}
</section>
