
<div class="navbar navbar-default logo_and_login_section" role="navigation">
  <div class="
  col-xs-offset-0 col-xs-12
  col-sm-offset-0 col-xs-12
  col-md-offset-0 col-md-12
  col-lg-offset-0 col-lg-12">

    <div class="navbar-header" style="margin-right: 30px">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <a
        id="polisLogo"
        class="Logo"
        href="{{logo_href}}"
        >
        <img src="https://pol.is/polis-favicon_favicon.png" height="30px"> pol<span class="Logo--blue">.</span>is
      </a> 
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{!-- {{#ifDefined showNewButton}}
        <li>
          <a href="/hk/new" title="Post a new link" class="HeadingD"><i class="fa fa-plus-square"> </i> NEW</a>
        </li>
        {{/ifDefined}} --}}

        <li class="divider"></li>
        {{#unless hideInboxLink}}
        <li id="inboxLink"><a class="HeadingD" href="{{inboxHref}}"><i class="fa fa-inbox"></i>&nbsp;Inbox</a></li>
        {{/unless}}
        <li class="divider"></li>
        {{#ifAuthenticated}}
            <li><a href="{{settings_href}}" class="HeadingD"><i class="fa fa-cog"></i>&nbsp;Settings</a></li>
            <li class="divider"></li>
            <li><a href="/user/logout" class="HeadingD">
              {{#ifNotIE8}}
              <i class="fa fa-sign-out"></i>
              {{/ifNotIE8}}
              &nbsp; Signout</a></li>
        {{/ifAuthenticated}}
      </ul>
    </div>{{! /.nav-collapse }}
  </div> {{! /.container }}
</div> {{! navbar }}

<section class="container" >
  <div class="row">
    <div class="col-sm-12 col-md-6 col-md-push-6">
      <div id="hkExplainer" class="well">
        <h2 class="" style="background-color: black; padding-bottom: 4px; padding-left: 4px; border-radius: 3px;">
          <i class="fa fa-umbrella" style="color: black;background-color: #f1c40f;padding: 10px; border-radius: 2px"></i> &nbsp;
          <span class="HeadingA" style="color:#f1c40f; {{#ifXs}}font-size: 18px;{{/ifXs}}">#umbrellaMovement</span> 
        </h2>
        <p class="HeadingA"> WELCOME </p>
        <p class=""><em>Lau Chun Yin Vincent, CODE4HK</em></p>
        <iframe width="100%" style="min-height:350px" src="//www.youtube.com/embed/Ez78ZEneP0M?rel=0" frameborder="0" allowfullscreen=""></iframe><p style="margin-top: 20px;"> <a target="_blank" href="http://www.inmediahk.net/node/erepublik-loomio-polis">Polis簡介及使用教學</a> </p>  
        <p> <a target="_blank" href="http://blog.code4.hk/tutorial/2014/10/07/pol-is-hk-tutorial/">pol.is tutorial</a> </p>
        <img src="https://pol.is/landerImages/c4hk_logo.png" width="100%"></span>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-md-pull-6">
      <div>
        {{#ifDefined showNewButton}}
          <a class="Btn Btn-alt" href="/hk/new" title="Post a new link"><i class="fa fa-plus-square"> </i> Submit a new link</a>
        {{/ifDefined}}
      </div>
        {{view courseCollectionView}}
      </div>
  </div>
</section>
