<section class="container" >
		<h1 class="HeadingA">{{topic}}</h1>
        {{description}}
        <h2 style="background-color: black; padding-bottom: 4px; padding-left: 4px; border-radius: 3px;">
        	<i class="fa fa-umbrella" style="color: black;background-color: #f1c40f;padding: 10px; border-radius: 2px"></i> &nbsp;
        	<span class="HeadingA" style="color:#f1c40f">#umbrellaMovement</span> 
        	
        	<span class="pull-right HeadingB" style="color:#f1c40f; padding:19px">
        	<i class="fa fa-plus-square-o"></i>
        	&nbsp;
        	Submit</span>
        </h2>
    {{view courseCollectionView}}
</section>
