<section class="container" >
		<h1 class="HeadingA">{{topic}}</h1>
        {{description}}
        <h2><strong>#umbrellaMovement</strong> linkshare & discussion board</h2>
    {{view courseCollectionView}}

</section>
