<header>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner no-rounding">
	  	<div class="container">
	      <a class="brand" href="#">Polis</a>

	      <ul class="nav pull-right">
		    	<li>{{#link "settings" expand-tokens=true}}<i class="icon-gears"></i>Settings{{/link}}</li>
		  	</ul>

	     	<div class="nav-collapse collapse">
					<ul class="nav">
			  		<li>{{#link "inbox" class="active" expand-tokens=true}}Conversations{{/link}}</li>
					</ul>
		  	</div>
			</div>
	 	</div>
	</div>
</header>



<section class="container">
<div class="row">



	<div class="span6">
		<input type="hidden" name="id" id="id" value="{{id}}"/>
		<form class="form-horizontal conversationsForm">
			<div class="control-group">
			  	<label for="topic" class="control-label">Topic</label>
			  	<div class="controls">
			  		<input type="text" name="topic" placeholder="Topic" value="{{topic}}"/>
				</div>
			</div>
		  	<div class="control-group">
			  	<label for="description" class="control-label">Description</label>
			  	<div class="controls">
			  		<textarea type="text" name="description" placeholder="Description">{{description}}</textarea>
				</div>
			</div>

			<div class="control-group">
			  <div class="controls">
			  	<label for="anonymous" class="checkbox">
			  		<input type="checkbox" id="anonymous" name="is_anon" data-toggle="checkbox" {{#if is_anon}}checked{{/if}}> Anonymous
			  	</label>
				</div>
			</div>




			<div class="control-group">
				<div class="controls">

				{{#if add}}
					<button class="btn btn-success" name="formAction" type="submit" value="publish">Create & Publish</button>
					<button class="btn" name="formAction" type="submit" value="draft">Save as Draft</button>
				{{/if}}

				{{#if edit}}
					<button class="btn btn-success action" name="formAction" value="publish" type="submit">Update & Publish</button>
					<button class="btn btn-success action" name="formAction" value="draft" type="submit">Save as Draft</button>
					{{#button method="delete" class="btn btn-danger" type="button"}}<i class="icon-trash"></i> Delete {{/button}}
				{{/if}}

				</div>
			</div>
		</form>
	</div>

	<div class="span6">
			{{view metadataQuestionsViewWithCreate}}
	</div>

</div>
</section>