<div class="container">
<div class="row">
	<div class="landingPageHeadline col-sm-12 col-md-12">
		<h1 class="landingPagePolis"> polis </h1>
		<h3 class="landingPageCommunication"> communication for groups </h3>
	</div>
</div>

<div class="row landingBoxTop">
	<div class="landingBox col-sm-4 col-md-4">
	<h4 class="formTextHeader"> Create New User: </h4>
	<form role="form"> <!--rename style -->	
		<input type="text" name="hname" placeholder="Full Name" class="form-control">  	
		<input type="email" name="email" placeholder="Email" class="form-control">
		<input type="text" name="username" placeholder="Username" class="form-control">  	
		<input type="password" name="password" placeholder="Password" class="form-control">
  {{#if zinvite}} 	
    <input type="hidden" name="zinvite" value="{{zinvite}}" class="form-control">
  {{/if}}
		<p> </p>
		<button type="submit" class="btn btn-default btn-lg"> Create New User </button>
	</form>
    <p class="otherOptions2">{{#link "user/login" expand-tokens=true}} Login with Existing Account {{/link}}</p>
  <p class="otherOptions1">{{#link "pwresetinit" expand-tokens=true}} Forgot your Password? {{/link}}</p>


	</div> <!-- requestInviteBox -->
</div> <!-- row -->

</div> <!-- container -->
