{{#ifNotEmbedded}}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bar"></span>
        <span class="fa fa-bar"></span>
        <span class="fa fa-bar"></span> 
      </button>
      <a href="{{inboxHref}}" class="navbar-brand">Polis</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="h/about">About</a></li>
        <li><a href="mailto:colin@pol.is?subject=Polis%20Feedback">Contact</a></li>
        <li><a href="{{settings_href}}">
          {{#ifNotIE8}}
          <i class="fa fa-signout"></i>
          {{/ifNotIE8}}
          &nbsp; Signout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{{/ifNotEmbedded}}

<section class="container" style="margin-bottom: 50px;"> 

<div class="row">
  <div class="col-sm-8 conversationViewHeadline">
    <h2> foo </h2>
  </div>
</div>

<div id="controlTabs" class="row"> <!-- may get no-gutter class on xs -->
  <!-- overflow:hidden Since we remove the overflow:hidden on the carousel, and have to hide it at some layer to prevent the whole page becoming super wide. -->
  <div class="col-sm-6">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs tab-conv">
      <li class="active">
        <a href="#commentView" id="commentViewTab" data-toggle="tab">
          {{#ifNotIE8}}<i class="fa fa-align-justify"></i>{{/ifNotIE8}} 
          Read &amp; React
        </a>
      </li>
      <li>
        <a href="#commentForm" id="commentFormTab" data-toggle="tab">
          {{#ifNotIE8}}<i class="fa fa-pencil"></i>{{/ifNotIE8}}
          Write
        </a>
      </li>
      <li>
        <a href="#analyze" id="analyzeTab" data-toggle="tab">
          {{#ifNotIE8}}<i class="fa fa-coffee"></i>{{/ifNotIE8}}
          Analyze
        </a>
      </li>
    </ul>

    <span id="vis_sibling_above_tab_content"></span>

    <div class="tab-content">
      <div class="tab-pane active" id="commentView">
        foo
      </div>
      <div class="tab-pane" id="commentForm">
        bar
      </div>
      <div class="tab-pane" id="analyze">
        baz
      </div> <!-- analyze tab pane -->
    </div> <!-- tab content -->
  </div> <!-- tabbable -->
  </div> <!-- span 4 -->

  <span id="vis_sibling_bottom" class="col-sm-6">
    foo
  </span>


</div> <!-- row -->
</section>