<h1>pol.is FAQ</h1>
<div class="row">
	<div class="col-sm-6">
		<form id="commentSearch" role="form" style="margin-top: 20px;" >
		    <input type="text" class="form-control" id="faqSearchInput" placeholder="Search to filter list">
		</form>
		{{view faqCollectionView}}
	</div>
</div>
</div> <!-- container -->