<div id="footer" class="hidden-xs">

{{!--     <!-- facebook code for share link -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=328354915742&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
 --}}


  	<div class="row custom_container_for_large_screens" style="padding-top: 30px">
  		<div class="col-sm-2 col-sm-offset-2">
				<h3 style="font-size: 36px; margin-top: 50px; font-weight: 700">pol<span style="color: rgba(52, 152, 219,1.0)">.</span>is</h3>
  		</div>
	  	<div class="col-sm-2"> 
	  		<h5 style="font-weight:700">COMPANY</h5>
{{!-- 	  		<p><a href="/api" id="apiButton" class="footer_item">Press</a></p>
 --}}				<p><a href="/" id="TOS" class="footer_item">TOS</a></p>
				<p><a href="/" id="PP" class="footer_item">PRIVACY</a></p>
	  	</div>
	  	<div class="col-sm-2"> 
	  		<h5 style="font-weight:700">LEARN</h5>
	  		<p><a href="/api" id="apiButton" class="footer_item">API</a></p>
{{!-- 	  		<p><a href="/faq" id="FAQ" class="footer_item">FAQ</a></p>
	  		<p><a href="/faq" id="FAQ" class="footer_item">Blog</a></p> --}}
	  		<p></p>
	  	</div>

  		<div class="col-sm-4">
{{!-- 	  		<h5 style="font-weight:700">SHARE</h5>
	  		<div>
		      <div class="footer_item social" style="display: inline-block; vertical-align: middle">
            <!-- twitter -->
            <span class="twitter" style="margin-right: 10px">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pol.is" data-text="Polis is going to change communication with #machinelearning" data-count="none" data-hashtags="getpolis" data-dnt="true"><i class="" ></i></a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </span>
            <!-- linked in -->
            <span class="linkedin" style="margin-right: 10px">
                <script src="//platform.linkedin.com/in.js" type="text/javascript">
                  lang: en_US
              </script><script type="IN/Share" data-url="http://pol.is"></script>
            </span>
            <!-- Facebook -->
            <span class="facebook" style="margin-right: 10px">
                <div class="fb-share-button" data-href="http://pol.is" data-type="button"></div>
            </span>
          </div>
	  		</div> --}}
	  		<p style="margin-top: 50px">&#169; 2014 Polis Technology Inc.</p>
	  	</div>

  	</div>
</div>

<!--[if lte IE 8]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</body>
</html>
