<div
  class="unselectable"
	style="
    margin: auto;
    margin-bottom: 1px; {{!-- workaround for bug --}}
    {{#unless visible}}
      display: none;
    {{/unless}}
    ">

{{!--   <span style="margin-right: 7px">
    {{s.group_123}}
  </span> --}}
  {{#each groups2}}<span
      style="
        cursor: pointer;
        font-weight: 700;
        display: inline-block;
        {{this.styles}}
      "
      data-gid="{{this.gid}}"
      class="
        groupButton
        {{#if this.selected}}
          selectedGroupButton
        {{/if}}
      ">{{this.name}}</span>{{/each}}
</div>
