<div
  class="
	 flexbox
	 align-items-flex-end
   justify-content-space-around
   align-items-baseline"
	style="
    {{!-- height: 48px; --}}
    margin-top: 10px;
    margin-bottom: 10px;
    {{#unless visible}}
      display: none;
    {{/unless}}
    ">
<div>
  <span >
    {{s.group_123}}
  </span>
  {{#each groups2}}
  	<button
      style="font-weight: 700"
      data-gid="{{this.gid}}"
      class="
        groupButton
        {{#if this.selected}}
          selectedGroupButton
        {{/if}}
      ">
      {{this.name}}
    </button>
  {{/each}}
</div>

{{!--   <button
    class="
      groupButton
      infoPaneButton
      {{#if infoSlidePaneViewActive}}
        selectedGroupButton
      {{/if}}
      ">
      {{s.info}}
  </button> --}}
</div>
