<div class="navbar navbar-default navbar-fixed-top logo_and_login_section" role="navigation">  
  <div class="container">

    <div class="navbar-header" style="margin-top: 18px">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a
        id="polisLogo"
        href="{{logo_href}}"
        style="font-size: 24px; color: rgb(34,101,152); margin-left: 10px; letter-spacing: 2px; padding-top: 5px;">

        pol<span style="color: rgb(52, 152, 219)">.</span>is

      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/settings">
          {{#ifNotIE8}}
          <i class="icon-signout"></i>
          {{/ifNotIE8}}
          &nbsp; Signout</a></li>
      </ul>
    </div>{{! /.nav-collapse }}
  </div> {{! /.container }}
</div> {{! navbar }}