{{!
  NOTE: the menu items in the drop-down are still nested in the drop-down when the responsive navbar collapses. Ideally we would explode the nested items out into a flat menu, like this:

  http://stackoverflow.com/questions/18939015/remove-dropdown-link-and-show-all-of-its-items-in-navbar-menu
}}

<div class="navbar navbar-default logo_and_login_section" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bar"></span>
        <span class="fa fa-bar"></span>
        <span class="fa fa-bar"></span>
      </button>
      <a
        id="polisLogo"
        class="Logo"
        href="{{logo_href}}"
        >
        pol<span class="Logo--blue">.</span>is

      </a>
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        {{#ifDefined showNewButton}}
        <li>
          <a href="/conversation/create" title="Create a new conversation" class="HeadingB"><i class="fa fa-plus -square"> </i> NEW</a>
        </li>
        {{/ifDefined}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-cog"></i>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/user/logout">
              {{#ifNotIE8}}
              <i class="fa fa-sign-out"></i>
              {{/ifNotIE8}}
              &nbsp; Signout</a></li>
          </ul>
        </li>
      </ul>



    </div>{{! /.nav-collapse }}
  </div> {{! /.container }}
</div> {{! navbar }}
