<section class="container">
<div class="row">

	<div class="col-md-8 col-md-offset-2">

		<h1 class="HeadingA">
			Add a link
		</h1>

		<form class="FormVertical" role="form">
			<div class="FormVertical-group">
				<label class="FormLabel" for="topic">Title</label>
				<input maxlength="70" id="topic" type="text" name="topic" value="{{topic}}" class="FormControl">
			</div>
			<div class="FormVertical-group">
				<label class="FormLabel" for="link_url"> URL </label>
				<input maxlength="2000" id="link_url" type="text" name="link_url" class="FormControl">				
			</div>
			{{!-- <div class="FormVertical-group">
				<label class="FormLabel" for="description"> Description &amp; Question (optional)</label>
				<textarea type="text" maxlength="300" class="FormControl" name="description" id="description" rows="5">{{description}}</textarea>
			</div> --}}

			<div class="FormVertical-group">
				<button class="Btn Btn-primary" name="formAction" type="button" id="submitButton" value="publish">Create</button>
			</div>
			<div class="row" id="errorDiv"> </div>
			<input type="hidden" name="id" id="id" value="{{id}}" class="FormControl">
		</form>

	</div>
</div> <!-- row -->
</section>
