<section class="container" >

 <div class="col-md-12">

 <button id="embedInfoButton" style="float:right; text-transform: none;" class="Btn Btn-primary">Put polis on your site</button>

 <div id="embedInfo" style="display:none" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title HeadingB">Embed {{#if hasMultipleSites}}codes{{else}}code{{/if}}</h3>
    </div>
    <div class="panel-body">


     {{!--  <div  style="margin: 20px;" class="Notification Notification--positive">
        <p class="HeadingF HeadingF--light "><i class="fa fa-bell-o"></i>&nbsp;<strong>Copy and paste this into the template for your site's pages (blog posts, news article, etc)</strong></p>
        <p>Note that you'll need to replace "$page_id_from_your_blog_etc" with a variable that describes each of your pages.
          You will probably be rendering your page server-side on your platform or CMS (Wordpress, Django, Ruby on Rails, etc). You'll need to set the value for the data-page_id attribute. If you are just trying Polis for the first time, you can just make something up, like "ih87erhiue".
         </p>
      </div> --}}
      <p class="HeadingF HeadingF--light col-xs-12"><i class="fa fa-bell-o"></i>&nbsp;<strong>Copy and paste this into the template for your pages (blog posts, news articles, etc)</strong></p>
      <div class="col-md-5">
          <p>When this embed code loads on your website, it will either create a new conversation (if one doesn't already exist) or load an existing conversation. It keeps track of what conversations belongs on what pages via the <span style="white-space: nowrap">data-page_id</span> HTML attribute. Simply replace "PAGE_ID", either manually or in your templates, to create new conversations and load existing ones in the right place.</p>
      </div>


      <div class="panel-body">
        {{#each site_ids}}
          {{#if ../hasMultipleSites}}<p class="HeadingF HeadingF--light "><strong>Site: {{this}}</strong></p>{{/if}}
          <pre class="col-md-7" style="text-align:left; font-size:12px;">&lt;div
  class=&quot;polis&quot;
  data-page_id=&quot;PAGE_ID&quot;
  data-site_id=&quot;{{this}}&quot;&gt;
&lt;/div&gt;
&lt;script async=&quot;true&quot; src=&quot;https://pol.is/embed.js&quot;&gt;&lt;/script&gt;</pre>
            <noscript>Please enable JavaScript to view comments powered by Polis.</noscript>
        {{/each}}
      </div>
      {{!-- <button id="addSite">Add another site</button> --}}
    </div>
  </div>



	<h1 class="HeadingA">Inbox</h1>

    {{view inboxCollectionView}}

 </div> {{!-- col-md-6 --}}

</section>
