<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Polis</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/inbox">Conversations</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://pol.is/about">About</a></li>
        <li><a href="mailto:colin@pol.is?subject=Polis%20Feedback">Contact</a></li>
        <li><a href="/settings">
          {{#ifNotEmbedded}}
          <i class="icon-signout"></i>
          {{/ifNotEmbedded}}
          &nbsp; Signout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

  <div style=" width: 100%; margin:auto; position: fixed; z-index: 1010; margin-top:15px">
    <a href="/conversation/create" class="startNewConversation btn btn-large btn-success">
    {{#ifNotEmbedded}}
    <i class="icon-plus-sign-alt"></i>
    {{/ifNotEmbedded}}
    New Conversation </a>
  </div>


<section class="container" style="padding-top: 65px"> <!-- padding to take care of above fixed button -->
<div class="row">
    <div class="col-sm-12">
      <ul class="conversations" style="list-style: none">
        {{view inboxCollectionView}}     
      </ul>
  </div>
</div>
</section>