{{#ifNotEmbedded}}
{{> header}}
{{/ifNotEmbedded}}

  <div style=" width: 100%; margin:auto; position: fixed; z-index: 1010; margin-top:15px">
    <a href="/conversation/create" class="startNewConversation btn btn-large btn-success">
    {{#ifNotEmbedded}}
    <i class="icon-plus-sign-alt"></i>
    {{/ifNotEmbedded}}
    New Conversation </a>
  </div>


<section class="container" style="padding-top: 65px"> <!-- padding to take care of above fixed button -->
<div class="row">
    <div class="col-sm-12">
      <ul class="conversations" style="list-style: none">
        {{view inboxCollectionView}}     
      </ul>
  </div>
</div>
</section>