{{#ifNotEmbedded}}
{{> header}}
{{/ifNotEmbedded}}
{{#ifShowTrialBanner}}
{{> banner}}
{{/ifShowTrialBanner}}

<section class="container">
<div class="row">
    <div class="col-sm-12">
      <ul class="conversations" style="list-style: none">
        {{view inboxCollectionView}}     
      </ul>
  </div>
</div>
</section>