<p class="col-md-6 col-md-offset-3 inboxLoading HeadingC" style="text-align:center;">Loading...</p>
<p class="col-md-6 col-md-offset-3 inboxEmpty HeadingC" style="display:none; text-align:center">You currently have no conversations in your inbox.</p>

