<div id="conductor">
</div> <!-- conductor -->
<div class="container"> 
<div class="row">
	<div class="span12 landingPageHeadline">
		<h1 class="landingPagePolis"> polis </h1>
		<h3 class="landingPageCommunication"> communication for groups </h3> 
	</div>
</div> 

<div class="row landingBoxTop">
	<div class="span4 landingBox">
		 <form>
		 <input type="text" name="givenName" placeholder="Full Name">
		 <input type="text" name="email" placeholder="Email">
		 <input type="text" name="organization" placeholder="Organization">
		 <button type="submit" class="btn btn-large action brandon400"> Request Beta Invitation </button>
		 </form>
		
		 <p class="otherOptions1">{{#link "user/create" expand-tokens=true}} I have an invite code and need to create an account {{/link}}</p>
		 <p class="otherOptions2">{{#link "user/login" expand-tokens=true}} I have an account and need to login {{/link}}</p>
		 
	</div> <!-- requestInviteBox --> 
</div> <!-- row -->
</div> <!-- container -->
