<div class="container">
	<div class="row">
		<div class="landingPageHeadline col-sm-12 col-md-12">
			<h1 class="landingPagePolis"> polis </h1>
			<h3 class="landingPageCommunication"> communication for groups </h3>
		</div>
	</div>

<div class="row landingBoxTop">
	<div class="landingBox col-sm-4 col-md-4">
		<form role="form">
		<input type="text" name="name" placeholder="Full Name" class="form-control">
		<input type="text" name="email" placeholder="Email" class="form-control">
		<input type="text" name="organization" placeholder="Organization" class="form-control">
		<button type="submit" class="btn action brandon400 btn-default btn-lg"> Request Beta Invitation </button>
		</form>
		<p class="otherOptions1">{{#link "user/create" expand-tokens=true}} Create an Account {{/link}}</p>
		<p class="otherOptions2">{{#link "user/login" expand-tokens=true}} Login with Existing Account {{/link}}</p>
	</div> <!-- requestInviteBox -->
</div> <!-- row -->
</div> <!-- container -->
