<a href="http://pol.is/about" target="_blank" style="
      font-family:  &quot;canada-type-gibson&quot;, &quot;Futura&quot;, &quot;Gill Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, sans-serif
      font-size: 14px;
      color: #777;
      margin-top: 7px;
    ">{{s.addPolisToYourSite}}</a>


