<a
  href="http://pol.is/privacy"
  target="_blank"
  style="
  font-family: Georgia;
  color: rgb(150,150,150);
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 5px;
    ">{{s.privacy}}</a>
