<a href="http://pol.is/privacy" target="_blank" style="
      font-family: &quot;brandon-grotesque&quot;, &quot;Brandon Grotesque&quot;, &quot;Futura&quot;, &quot;Gill Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; 
      font-size: 14px; color: #777; 
      margin-right: 5px;
    ">{{s.privacy}}</a>