    <a href="http://pol.is/tos" target="_blank" style="
      font-family: 'brandon-grotesque', 'Brandon Grotesque', 'Futura', 'Gill Sans', 'Helvetica Neue', Helvetica, sans-serif; 
      font-size: 14px; 
      color: #777;
    ">{{s.TOS}}</a>