<a href="http://pol.is/about" target="_blank" style="
      margin-bottom: -11px;   
      font-family: &quot;brandon-grotesque&quot;, &quot;Brandon Grotesque&quot;, &quot;Futura&quot;, &quot;Gill Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; 
      font-size: 14px;
      color: #777;
    ">Add Polis to your site</a>