
<div class="row">
  <div class="span4 offset2">
    <h2> Existing User Login </h2> 
    <form class="form-horizontal conversationsForm"> 
      <div class="control-group">
          <label for="email" class="control-label">Email:</label>
          <div class="controls">
            <input type="text" name="email" placeholder="Email" />
        </div>
      </div>
      <div class="control-group">
          <label for="password" class="control-label">Password: </label>
          <div class="controls">
            <input type="password" name="password" placeholder="password" />
        </div>
      </div>  
      <button type="submit" class="btn btn-block"> Login </button>
    </form>
  </div>
</div>


