<div class="container">
<div class="row">
  <div class="span12 landingPageHeadline">
    <h1 class="landingPagePolis"> polis </h1>
    <h3 class="landingPageCommunication"> communication for groups </h3>
  </div>
</div>
<div class="row landingBoxTop">
  <div class="span4 landingBox">
  <h4 class="formTextHeader"> Existing User Login: </h4>
  <form >
    <input type="text" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <p> </p>
    <button type="submit" class="btn btn-large"> Login </button>
  </form>
  <p class="otherOptions1">{{#link "" expand-tokens=true}} Back {{/link}}</p>
  <p class="otherOptions1"><a href="#pwresetinit">Forgot your Password?</a></p>
  </div> <!-- requestInviteBox -->
</div> <!-- row -->
</div> <!-- container -->
<div id="conductor">
</div> <!-- conductor -->
