<div class="container">
<div class="row">
  <div class="landingPageHeadline col-sm-12 col-md-12">
    <h1 class="landingPagePolis"> polis </h1>
    <h3 class="landingPageCommunication"> communication for groups </h3>
  </div>
</div>
<div class="row landingBoxTop">
  <div class="landingBox col-sm-4 col-md-4">
  <h4 class="formTextHeader"> Existing User Login: </h4>
  <form role="form">
    <input type="text" name="email" placeholder="Email" class="form-control">
    <input type="password" name="password" placeholder="Password" class="form-control">
    <p> </p>
    <button type="submit" class="btn btn-default btn-lg"> Login </button>
  </form>
  <p class="otherOptions1">{{#link "" expand-tokens=true}} Back {{/link}}</p>
  <p class="otherOptions1"><a href="#pwresetinit">Forgot your Password?</a></p>
  </div> <!-- requestInviteBox -->
</div> <!-- row -->
</div> <!-- container -->