<svg width="103px" height="117px" viewBox="0 0 103 117" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svgCenter">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="3" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.125584609   0 0 0 0 0.125584609   0 0 0 0 0.125584609  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="ptpt-experience-desktop" transform="translate(-680.000000, -41.000000)">
            <g id="Group" filter="url(#filter-1)" transform="translate(683.000000, 44.000000)">
                <polygon id="Polygon-1" fill="#FFFFFF" points="45.4085987 0 90.8171973 26.25 90.8171973 78.75 45.4085987 105 4.34615307e-14 78.75 1.42108547e-14 26.25"></polygon>
                <path d="M13,31.2396694 L16.4666667,39.9173554" id="Line" stroke="#FFFFFF" stroke-width="0.3" stroke-linecap="square"></path>
                <text id="p." font-family="Georgia" font-size="61.9700495" font-weight="normal" fill="#03A9F4">
                    <tspan x="26.8666667" y="62.2066116">p.</tspan>
                </text>
                <path d="M73.2333333,55.9710744 L82.7666667,41.2190083" id="Line" stroke="#03A9F4" stroke-width="0.3" stroke-linecap="square"></path>
                <path d="M62.8333333,84.607438 L71.9333333,78.0991736" id="Line" stroke="#03A9F4" stroke-width="0.3" stroke-linecap="square"></path>
                <path d="M45.0666667,92.8512397 L52.8666667,78.0991736" id="Line" stroke="#03A9F4" stroke-width="0.3" stroke-linecap="square"></path>
                <path d="M8.66666667,67.6859504 L16.4666667,41.6528926" id="Line" stroke="#03A9F4" stroke-width="0.3" stroke-linecap="square"></path>
                <path d="M62.8333333,84.607438 L71.9333333,78.0991736" id="Line" stroke="#03A9F4" stroke-width="0.3" stroke-linecap="square"></path>
                <ellipse id="Oval-17" fill="#03A9F4" cx="82.7666667" cy="41.2190083" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="65.4333333" cy="32.5413223" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="12.5666667" cy="30.8057851" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="16.9" cy="40.3512397" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="8.23333333" cy="68.1198347" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="53.3" cy="77.6652893" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="51.5666667" cy="23.8636364" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="32.5" cy="24.731405" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="35.9666667" cy="18.6570248" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="44.6333333" cy="15.1859504" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="44.6333333" cy="93.285124" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="62.8333333" cy="84.607438" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="62.8333333" cy="75.9297521" rx="1.3" ry="1.30165289"></ellipse>
                <ellipse id="Oval-17" fill="#03A9F4" cx="71.5" cy="78.5330579" rx="1.3" ry="1.30165289"></ellipse>
                <path d="M35.9666667,18.6570248 L51.1333333,23.4297521" id="Line" stroke="#00ABF3" stroke-width="0.3" stroke-linecap="square"></path>
                <path d="M32.9333333,24.2975207 L35.5333333,19.0909091" id="Line" stroke="#00ABF3" stroke-width="0.3" stroke-linecap="square"></path>
            </g>
        </g>
    </g>
</svg>
