Question:
<p class="questionText"> {{key}} </p>
{{#if allowDelete}}
	{{#button method="deleteQuestion" tag="a"}}
		 &nbsp;<i class="icon-remove"></i>
	{{/button}}
{{/if}}

{{collection}}

<ul class="nobullets">
	<li>
{{#if allowCreate}}
		<div class="add_answer_form">
			
			<label for="answerInput"> Answer </label>
			<form style="width: 90%">
				<input name="answerInput" type="text" placeholder="Add answer here, ie. - 'Male' or 'NYC'"></input>
			</form>
		</div>
	
{{/if}}
	</li>
</ul>