Metadata!!!!!
{{collection}}

{{#if allowCreate}}
	{{#if formActive}}
		<div class="add_question_form">
			Add question here
			<form>
			<textarea></textarea>
			</form>
		</div>
	{{else}}
		{{#button "showAddQuestionForm" class="btn btn-success action"}}
	    	Add Question
	    {{/button}}
	{{/if}}
{{/if}}


{{#if allowCreate}}

{{/if}}