<div class="panel panel-default">

<div class="panel-heading">
	{{#if required}} <span style="color:red">*</span>{{/if}}
	{{key}}
	{{#if allowDelete}}
		<a role="button" type="button" class="deleteQuestion">
			 &nbsp;<i class="icon-remove"></i>
		</a>
	{{/if}}
</div>

{{view answersCollectionView}}


{{#if allowCreate}}
<ul class="nobullets">
	<li>
		<div class="add_answer_form">			
			<form>
				<input style="width: 50%; margin-top:10px" name="answerInput" type="text" placeholder="A choice, e.g., 'NYC' or 'Boston'"></input>
			</form>
		</div>
	</li>
</ul>
{{/if}}

</div>