{{collection}}

{{#if allowCreate}}
	{{#if formActive}}


		<form >
		<div class="add_question_form">
			<label for="questionInput">Add a new metadata question - ie., "What is your gender?" or "What office are you based in?" </label>
			<textarea id="questionInput" name="questionInput" placeholder="Metadata question" ></textarea>
		</div>
		</form>



	{{else}}

		 {{#button method="showAddQuestionForm" class="removeUnderlinedLink makeCursorPointer controls" tag="a"}}
	    	<i class="icon-tags"></i>&nbsp;Add new metadata 
	   {{/button}}
	{{/if}}
{{/if}}


{{#if allowCreate}}

{{/if}}
