Question:
<p class="questionText"> {{key}} </p>
{{#if allowDelete}}
	{{#button method="deleteQuestion" tag="a"}}
		 &nbsp;<i class="icon-remove"></i>
	{{/button}}
{{/if}}

{{collection}}

<ul class="nobullets">
	<li>
{{#if allowCreate}}
		<div class="add_answer_form">			
			<form>
				<input style="width: 50%; margin-top:10px" name="answerInput" type="text" placeholder="A choice, e.g., 'NYC' or 'Boston'"></input>
			</form>
		</div>
	
{{/if}}
	</li>
</ul>