{{#if disabled}}
  <li class="off makeCursorPointer questionAnswer questionAnswerFilter nobullets list-group-item">
    <i class="icon-eye-close gray_out"></i><span class="questionAnswerFilterLabel">{{value}}</span>
  </li>
{{else}}
  <li class="on makeCursorPointer questionAnswer questionAnswerFilter nobullets list-group-item">
    <i class="icon-eye-open"></i><span class="questionAnswerFilterLabel">{{value}}</span>
  </li>
{{/if}}
