{{#if disabled}}
  <div class="off makeCursorHand big_button w100 questionAnswer nobullets">
    <i class="icon-eye-close gray_out"></i><span class="questionAnswerFilterLabel">{{value}}</span>
  </div>
{{else}}
  <div class="on makeCursorHand big_button w100 questionAnswer nobullets">
    <i class="icon-eye-open"></i><span class="questionAnswerFilterLabel">{{value}}</span>
  </div>
{{/if}}
