
<p class="questionText"> {{key}} </p>
{{#if allowDelete}}
	{{#button method="deleteQuestion" tag="a"}}
		 &nbsp;<i class="icon-remove"></i>
	{{/button}}
{{/if}}

{{collection}}


{{#if allowCreate}}
	{{#if formActive}}
		<div class="add_answer_form">
			Add answer here, ie. - "Male" or "NYC"
			<form>
			<textarea></textarea>
			</form>
		</div>
	{{else}}
		{{#button method="showAddAnswerForm" tag="a" class="createAnswer makeCursorPointer"}}
	    <i class="icon-plus"></i>&nbsp;Add an answer for participants to select
	  {{/button}}
	{{/if}}
{{/if}}