{{collection}}

{{#if allowCreate}}

		<form >
		<div class="add_question_form">
			<label for="questionInput"> Question </label>
			<input style="width:90%" id="questionInput" type="text" name="questionInput" placeholder="e.g., 'What office are you based in?'"></input>
		</div>
		</form>
	
{{/if}}
