{{#if disabled}}
  <li class="off makeCursorPointer questionAnswer questionAnswerFilter nobullets list-group-item">
    <i class="fa fa-eye-slash gray_out"></i><span class="questionAnswerFilterLabel">{{value}}</span>
  </li>
{{else}}
  <li class="on makeCursorPointer questionAnswer questionAnswerFilter nobullets list-group-item">
    <i class="fa fa-eye"></i><span class="questionAnswerFilterLabel">{{value}}</span>
  </li>
{{/if}}
