<div
  style="margin-top: 10px; width: 100%;"
  class="flexbox justify-content-space-between flex-wrap"
  >
  <div
    class="flex-shrink-2"
    style="
      margin-top: 10px;
      max-width: 300px;
    ">
    <p>
      {{txt}}
    </p>
    <span style="font-style: italic; padding-top: 10px;">
      {{count}} votes
    </span>
  </div>
  <div
    style="
      float: right;
    "
    class="
    ">
    {{#if showAccept}}
      <button
        style="margin-top: 10px;"
        id="accept"
        class="Btn Btn-moderateAccept
      "> Accept </button>
    {{/if}}
    {{#if showReject}}
      <button
        style="margin-top: 10px;"
        id="reject"
        class="Btn Btn-moderateReject
      "> Reject </button>
    {{/if}}
  </div>
</div>