
<div class="row">
	<div class="col-sm-6" style="padding: 20px">
		<div class="panel panel-default">
			<div class="panel-body"> 
				{{txt}} 
				<div style="margin-top: 20px">
          {{#if showAccept}}
            <button id="accept" class="btn btn-sm btn-success"> Accept </button>
          {{/if}}
          {{#if showReject}}
  					<button id="reject" class="btn btn-sm btn-danger"> Reject </button>	
          {{/if}}
				</div>
			</div>
		</div> 
	</div>
</div>
