
<div class="row">
	<div class="col-sm-6" style="padding: 20px">
		<div class="panel panel-default">
			<div class="panel-body"> 
				{{txt}} 
				<div style="margin-top: 20px">
					<button id="accept" class="btn btn-sm btn-success"> Accept </button>
					<button id="reject" class="btn btn-sm btn-danger"> Reject </button>	
				</div>
			</div>
		</div> 
	</div>
</div>


{{#if velocityGreaterthanZero}}

	

{{/if}}