<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="panel panel-default">
    	<div class="panel-body"> 
        <div style="">
          {{#if showAccept}}
            <button id="accept" class="Btn Btn-moderateAccept"> Accept </button>
          {{/if}}
          {{#if showReject}}
            <button id="reject" class="Btn Btn-moderateReject"> Reject </button> 
          {{/if}}
        </div>
        <div style="margin-top: 15px;">
    		  {{txt}} 
        </div>
        <div style="font-style: italic; padding-top: 10px;">{{count}} votes</div>
    	</div>
    </div> 
  </div>
</div>