<section class="container">
<div class="row">
  <div class="col-lg-offset-4 col-sm-4 col-md-4">
    <h1>Polis Password Reset</h1>
    <h4 class="formTextHeader"> Reset your password: </h4>
    <form>
      <input type="password" name="newPassword" placeholder="New Password" class="form-control">
      <input type="password" name="pw2" placeholder="Repeat New Password" class="form-control">
      <button type="submit" class="btn btn-default btn-lg"> Set Password </button>
    </form>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->