<section class="container">
<div class="row" role="form">
  <div class="col-lg-offset-3 col-sm-6">
    <form>
      <div class="FormVertical-group">
        <div class="HeadingA">Password Reset</div>
      </div>
    	<div class="FormVertical-group">
        <label class="FormLabel" for="email">Email address</label>
        <input type="email" name="email" class="FormControl">
    	</div>

      <div class="FormVertical-group text-center">
        <button type="submit" class="Btn Btn-primary"> Send password reset email </button>
      </div>
    </form>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->