<section class="container">
<div class="row">
  <div class="col-lg-offset-4 col-sm-4 col-md-4">
    <h4 class="formTextHeader"> Reset your password: </h4>
    <form role="form">
      <div class="form-group">
        <input type="password" name="newPassword" placeholder="New Password" class="form-control">
	  </div>
      <div class="form-group">
        <input type="password" name="pw2" placeholder="Repeat New Password" class="form-control">
	  </div>
      <button type="submit" class="btn btn-success btn-lg"> Set Password </button>
    </form>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->