<section class="container">
<div class="row">
  <div class="span4 offset4">
    <h1>Polis Password Reset</h1>
    <h4 class="formTextHeader"> Send password reset link to your email address: </h4>
    <form>
      <input type="text" name="email" placeholder="Email" />
      <button type="submit" class="btn btn-large"> Send Password Reset email </button>
    </form>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->