<section class="container">
<div class="row">
  <div class="col-lg-offset-4 col-sm-4 col-md-4">
    <form role="form">
      <div class="FormVertical-group">
        <div class="HeadingA">Reset your password</div>
      </div>
      <div class="FormVertical-group">
        <label class="FormLabel" for="newPassword">New password</label>
        <input class="FormControl" type="password" name="newPassword" class="form-control">
  	  </div>
      <div class="FormVertical-group">
        <label class="FormLabel" for="pw2">Repeat new password</label>
        <input class="FormControl" type="password" name="pw2" class="form-control">
  	  </div>
      <div class="FormVertical-group text-center">
        <button type="submit" class="Btn Btn-primary"> Set Password </button>
      </div>
    </form>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->