<section class="container">
<div class="row" role="form">
  <div class="col-lg-offset-3 col-sm-6">
    <h1>Password Reset</h1>
    <form>
	<div class="form-group">
      <label for="email">Email address</label>
      <input type="email" name="email" placeholder="Email address" class="form-control">
	</div>
    <button type="submit" class="btn btn-success btn-lg"> Send Password Reset Email </button>

    </form>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->