<section class="container">
<div class="row">
  <div class="span4 offset4">
    <h1>Polis Password Reset</h1>
    <h4 class="formTextHeader"> Reset your password: </h4>
    <form>
      <input type="password" name="newPassword" placeholder="New Password" />
      <input type="password" name="pw2" placeholder="Repeat New Password" />
      <button type="submit" class="btn btn-large"> Set Password </button>
    </form>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->