<a id="polisLogo"
class="Logo{{#if authStyleHeader}}text-center{{/if}}"
href="{{logo_href}}">
<img src="https://pol.is/polis-favicon_favicon.png" height="30px"> pol<span class="Logo--blue">.</span>is
</a>