
<div
  id="readReactView"
  class="custom_gutter"
  style="margin-top: 20px; border-radius: 10px 10px 10px 10px; border: 3px; border-top: 1px; border-left: 1px; border-style:solid; border-color: lightgray; background-color: white;
  ">


  {{#if promptFacebook}}
  <div style="margin: 20px;" class="Notification Notification--warning">
    <p class="HeadingF HeadingF--light pull-right" style="cursor: pointer" role="button" type="button" id="fbNotNowBtn"> 
    	<i class="fa fa-times"></i> Not now
    </p>
    <div>
      <p class="facebookCaveatText">
	      Connect Facebook and invite your friends to see them in the visualization! We will not post on your behalf.
      </p>
      <div class="text-center">
	    	<button id="fbConnectBtn" class="facebookButton">
	    		<i class="fa fa-facebook-square"></i>&nbsp; Connect Facebook
	      </button>
      </div>
    </div>
  </div>


{{!-- 	<div
	    class="reactionButtons"
	  >
	    <div class="btn-group btn-group-justified">
	          <div
	            class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
	            

	          ><p class="btn-vote">NOT NOW</p> </div>

	          <div
	            id="fbNoUseBtn"
	            class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
	            role="button"
	            type="button"
	          ><p class="btn-vote">I DON'T USE FACEBOOK</p> </div>
	</div> --}}

  {{else}}
	{{view voteView}}
  {{/if}}


</div>
