<div>

  <h4>Cohort Filter Rules</h4>
  <div id="dragtarget"
       style="
      min-height: 2000px;
      background: linear-gradient(45deg, white 25%,
          #eee 30%, #eee 50%,
          white 55%, white 75%,
          #eee 80%);
      background-size:10px 10px;
      border-radius: 10px;
      padding: 10px;
    ">
    {{view rulesCollectionView}}
  </div>

</div>
