<section class="container">
<div class="row">

<div class="
  col-xs-12
  col-sm-8 col-sm-offset-2
  col-md-offset-0
">

<h1 class="HeadingA">Settings</h1>



  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title HeadingB">Name</h3>
    </div>
    <div class="panel-body">
      {{hname}}
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title HeadingB">Email</h3>
    </div>
    <div class="panel-body">
      {{email}}
    </div>
  </div>


  {{view settingsTwitter}}

</div> {{! end column }}
</div> {{! end row }}


</section>