<section class="container">
<div class="row">

<div class="
  col-xs-10 col-xs-offset-1
  col-sm-8 col-sm-offset-2
  col-md-offset-0
">

<h2>Settings</h2>


<form role="form">
  

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Name</h3>
    </div>
    <div class="panel-body">
      {{hname}}
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Email</h3>
    </div>
    <div class="panel-body">
      {{email}}
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Plan</h3>
    </div>
    <div class="panel-body">
      {{#ifTrial}}
        <div class="alert alert-warning" role="alert">
          {{> trialRemainingStatement}}
          {{!-- <a href="/plan/upgrade/individuals">Upgrade Now</a> --}}
        </div>
      {{/ifTrial}}
      <table class="table">
        <thead>
        <tr>
          <th>Plan
          </th>
          <th>Price
          </th>
          <th> {{! buttons column}}
          </th>
        </tr>
        </thead>
        <tr>
          <td>Individual</td>
          <td>$100/month</td>
          <td> 
            {{#ifTrial}}<span id="stripeForm"></span> {{/ifTrial}}
            {{#ifIndividual}}Your plan{{/ifIndividual}}
          </td>
        </tr>
        <tr>
          <td>Trial</td>
          <td>Free for 10 days</td>
          <td>
            {{#ifTrial}} Your plan {{/ifTrial}}
            {{#ifIndividual}} {{! should probably be a downgrade button }} {{/ifIndividual}}
          </td>
        </tr>
      </table>
    </div>
  </div>

{{!
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Notification</h3>
    </div>
    <div class="panel-body">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="notify_me" name="notify_me" checked="checked"> Notify me of updates
        </label>
      </div>
    </div>
  </div>
}}
</form>


</div> {{! end column }}
</div> {{! end row }}
</section>