<section>


  <div class="span6 offset3">

    <h3>{{topic}}</h3>
    <div>{{description}}</div>
    <div>
      Your conversation is now live, and waiting for you to invite participants.
      <label for="convoLink">Share this link to get started:</label>
      <input type="text" value="{{url_name_with_hostname}}" name="convoLink" style="cursor: pointer" readonly>
    </div>
    <button id="okButton">Got it, take me to the conversation.</button>
  </div>

</section>