<section class="container">

  <div class="col-lg-offset-3 col-sm-6 col-md-6">
      <div style="margin-top:40px" class="alert alert-success">
        <h4 style="margin-top: 20px; margin-bottom: 20px; text-align: center;"> PUBLISHED! SHARE THIS LINK.</h4> 
        <p style="text-align: center"> Use this link to invite participants to the conversation. Share it by whatever network you prefer - Gmail, Facebook, Twitter, etc., or just post it to your website or blog. Try it! Paste this link into your navigation bar to go to your conversation. </p>

        <input style="
          text-align: center;
          cursor: pointer;
          margin-top: 20px;
          padding: 10px;
          width: 100%;
          background-color: white
          "
          type="text"
          value="{{url_name_with_hostname}}"
          name="convoLink"
          readonly=""
          id="shareLinkInput"
          >
        {{#button
          method="sendShareLinkToEmail"
          class="btn btn-lg btn-default center-block"
          style="margin-top:20px"
          id="sendShareLinkToEmailButton"
          type="button"
        }} Send this link to my email {{/button}}
      </div>
          
    <!--<button style="margin-top: 20px" class="btn btn-large" id="okButton">Got it, take me to the conversation.</button> -->
  </div>

</section>