<section class="container" style="margin-bottom: 50px;"> 

<div class="row">
  <div class="col-sm-8 conversationViewHeadline">
    <h1>Summary</h1>
    <h2> {{topic}} </h2>
    <small><i> {{description}} </i></small>
  </div>
<!--  <div class="col-sm-6 alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4> Welcome</h4>
    <p> The purpose of Polis is to allow large groups (larger than can be accomodated by email and other similar tools) to communicate in real-time, in the interest of sharing feedback and making decisions. Polis is currently in beta - your <span class="popover_helper_class" id="feedback_and_suggestions"> feedback and suggestions</span> are welcome as we work to improve the overall experience of the application. <i class="icon-info-sign"></i> <span class="popover_helper_class" id="how_do_i_use">How do I use Polis?</span></p>
  </div> -->
</div>


<input type="file" id="fileinput"/>
<button type="button" id="fileSelected">Ok, file selected.</button>

<div class="row"> <!-- may get no-gutter class on xs -->

  {{view summaryItemCollectionView}}

</div> <!-- row -->

</section>