 <div style="height:100%; width: 9%; display: inline-block" class="tutorial-arrow-container">
	{{#if leftArrow}}
		<div class="tutLeft tutSlidesBtn unselectable">
			<i class="tutorial-arrow fa fa-arrow-circle-o-left" style="right: 15px;"></i>
		</div>
	{{/if}}
</div>