{{#if visible }}

<div class="HeadingG" style="text-align: left; ">

	{{!-- The blue dot is you --}}
	{{!-- Grey dots are other participants --}}
	{{!-- Voted similarly --}}
	{{!-- Voted differently --}}


   <span class="HeadingG" style="display: inline; width:100%">
	{{#if nostep}}
		<span id="opinion_groups_label" class="HeadingB" style="text-transform:none; cursor: default;">
	        <img src="https://pol.is/polis-favicon_favicon.png" height="20px" id="opinion_groups_logo">
	        Opinion Groups
	     </span>
		<span style="float: right; cursor: pointer"><button id="resetTutorial" class="btn Btn-alt">Tutorial</button></span>
    {{/if}}
    {{#if A_step1}}
       	<i class="fa fa-dot-circle-o" style="color: #3694E1;"></i>&nbsp;The blue dot is you
    {{/if}}
    {{#if A_step2}}
    	<i class="fa fa-group" style="color: rgb(189, 195, 199)"></i>&nbsp;Other participants
    {{/if}}
    {{#if A_step3}}
    	<i class="fa fa-group" style="color: rgb(189, 195, 199)"></i>&nbsp;Click a group to see how they voted
    {{/if}}
    {{#if B_step1}}
    	<span class="a">&#9650; agreed</span>, <span class="d">&#9660; disagreed</span> with selected comment
    {{/if}}
	</span>
	{{#unless nostep}}
	  {{#if showButton}}
		<button id="nextTutorialStepButton" class="btn Btn-alt" style="margin-bottom: 10px;border: 3px #CDE6FF solid;background-color: #3694E1;color: white; display:inline">{{nxtBtnTxt}} &nbsp; <i class="fa fa-step-forward"></i></button>
	  {{/if}}
	{{/unless}}
</div>

{{else}}
{{/if}}