<div style="height:100%; width: 8%; display: inline-block">
	{{!-- <div class="visible-xs"> --}}
		{{!-- {{#if leftArrow}}
			<span style="font-size: 10px;" class="tutLeft tutSlidesBtn unselectable">
				<i class="tutorial-arrow fa fa-arrow-circle-o-left"></i>
			</span>
		{{/if}} --}}
		{{#if rightArrow}}
			<span class="tutRight tutSlidesBtn unselectable">
				<i class="tutorial-arrow fa fa-arrow-circle-o-right"></i>
			</span>
		{{/if}}
	{{!-- </div> --}}
	{{!-- <div class="hidden-xs">
		{{! NOTE duplicated above because hidden-xs and visible-xs use display:block instead of inline-block}}
		{{#if rightArrow}}
			<span class="tutRight tutSlidesBtn unselectable">
				<i class="tutorial-arrow fa fa-arrow-circle-o-right"></i>
			</span>
		{{/if}}
	</div> --}}
</div>