 <div class="col-xs-1 tutorial-arrow-container">
	{{#if leftArrow}}
		<div class="tutLeft tutSlidesBtn unselectable">
			<i class="tutorial-arrow fa fa-arrow-circle-o-left" style="right: 20px;"></i>
		</div>
	{{/if}}
</div>