<section class="container">
<div class="row">
	<div class="span4 offset4">
		<h1>Welcome to Polis</h1>
		<p> To participate in this conversation, you'll need to create a Polis account. </p> 
		<h4 class="formTextHeader"> Create New User: </h4>
		<form>
		  <input type="text" name="hname" placeholder="Full Name" />
		  <input type="text" name="email" placeholder="Email" />
		  <input type="password" name="password" placeholder="Password" />
		  <button type="submit" class="btn btn-large"> Create New User </button>
		</form>
	</div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->