<section class="container">
<div class="row">
  <div class="col-lg-offset-4 col-sm-4 col-md-4">
    <h1>Welcome to Polis</h1>
  {{#if create}}
    <p> To participate in this conversation, you'll need to create a Polis account. </p>
    <h4 class="formTextHeader"> Create New Account: </h4>
    <form>
      <input type="text" name="hname" placeholder="Full Name" class="form-control">
      <input type="text" name="email" placeholder="Email" class="form-control">
      <input type="password" name="password" placeholder="Password" class="form-control">
      <button type="submit" class="btn btn-default btn-lg"> Create New Account </button>
    </form>

  {{else}}
    <p> To participate in this conversation, you'll need to sign in with a Polis account. </p>
    <h4 class="formTextHeader"> Sign in: </h4>
    <form>
      <input type="text" name="email" placeholder="Email" class="form-control">
      <input type="password" name="password" placeholder="Password" class="form-control">
      <button type="submit" class="btn btn-default btn-lg"> Sign In </button>
    </form>
    <p>{{#link "pwresetinit" expand-tokens=true}} Forgot your Password? {{/link}}</p>
  {{/if}}
    <div class="rel">
      <span class="alternateRegOr">OR</span>
      <div class="alternateReg">
        {{#if create}}
          <button class="gotoSignIn btn btn-default">I have an account and need to sign in.</button>
        {{else}}
          <button class="gotoCreate btn btn-default">Create new account</button>
        {{/if}}
      </div>
    </div>
  </div> <!-- span -->
</div> <!-- row -->
</section> <!-- container -->