<h4 class="formTextHeader"> Create New User: </h4>
<form > <!--rename style -->
  <input type="text" name="hname" placeholder="Full Name" />
  <input type="text" name="email" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <p> </p>
  <button type="submit" class="btn btn-large"> Create New User </button>
</form>