<div id="comment_shower">
      <p> {{txt}} </p>
    </div>
    <div class="reactionButtons">

    {{#ifDefined tid}}

      <div class="btn-group">
        {{#button
          method="participantAgreed"
          class="showerbtns btn btn-large commentButton margin_bottom_20"
          id="agreeButton"
          type="button"
        }} Agree {{/button}}

        {{#button
          method="participantStarred"
          class="showerbtns btn btn-large starbutton commentButton margin_bottom_20"
          id="starButton"
        }} <i class="icon-star-empty"></i> {{/button}}
      </div>

      {{#button
        method="participantTrashed"
        class="showerbtns btn btn-large pull-right commentButton margin_bottom_20"
        type="button"
        id="trashButton"
      }} <i class="icon-trash"></i> {{/button}}

      {{#button
        method="participantPassed"
        id="passButton"
        class="showerbtns btn btn-large pull-right commentButton margin_bottom_20"
        type="button"
      }} Pass {{/button}}

      {{#button
        method="participantDisagreed"
        id="disagreeButton"
        class="showerbtns btn btn-large pull-right commentButton margin_bottom_20"
        type="button"
      }} Disagree {{/button}}

    {{/ifDefined}}

    </div>