
<div
  class="custom_gutter"
  style="border-radius: 0px 10px 10px 10px; border: 3px; border-top: 1px; border-left: 1px; border-style:solid; border-color: lightgray; background-color: white;
  ">

<div id="comment_shower">
  {{#if empty}}
    <div  style="margin: 20px;" class="alert alert-warning">
      <strong>{{txt1}}</strong>
      {{txt2}}
    </div>
  {{else}}
  <!-- there is a comment to show -->
    <p style="padding: 20px 20px 10px 20px; min-height: 100px; margin-bottom: 0px"> {{txt}} </p>
  {{/if}}
</div>

  <div
    class="reactionButtons"
  >
  {{#unless empty}}
      <div class="btn-group btn-group-justified">
        <div
          class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
          id="agreeButton"
          role="button"
          type="button"
        >
        {{#ifNotIE8}}
          <i class="fa fa-caret-up" style="font-size: 20px; color: #2ecc71; position: relative; top: 1px"></i>
        {{/ifNotIE8}}
        &nbsp;<p class="btn-vote">AGREE</p> </div>

        <div
          id="disagreeButton"
          class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
          role="button"
          type="button"
        >
        {{#ifNotIE8}}
          <i class="fa fa-caret-down" style="font-size: 20px; color: #e74c3c; position: relative; top: 2px"></i>
        {{/ifNotIE8}}
        &nbsp;<p class="btn-vote">DISAGREE</p> </div>

        <div
          id="passButton"
          class="btn btn-lg btn-default {{#unless iOS}}vote-btn-w-hover{{/unless}}"
          role="button"
          type="button"
        >
        {{#ifNotIE8}}
          <i class="fa fa-flag" style="font-size: 16px; color: #aaa"></i>
        {{/ifNotIE8}}
        /&nbsp;<p class="btn-vote">PASS</p> </div>
    </div>
  {{/unless}}
</div>
</div>
