
<div id="comment_shower">
  {{#if empty}}
    <div  style="margin: 20px;" class="alert alert-warning">
      <strong>{{txt1}}</strong>
      {{txt2}}
    </div>
  {{else}}
  <!-- there is a comment to show -->
    <p style="padding: 20px 20px 10px 20px; min-height: 100px"> {{txt}} </p>
  {{/if}}
</div>

  <div class="reactionButtons">
  {{#unless empty}}
      <div class="btn-group btn-group-justified">
        <div
          class="btn btn-lg btn-default btn-vote"
          id="agreeButton"
          role="button"
        >
        {{#ifNotIE8}}
          <i class="icon-caret-up" style="color: #2ecc71;"></i>
        {{/ifNotIE8}}
        &nbsp;Agree </div>

        <div
          id="disagreeButton"
          class="btn btn-lg btn-default btn-vote"
          role="button"
        >
        {{#ifNotIE8}}
          <i class="icon-caret-down" style="color: #e74c3c"></i>
        {{/ifNotIE8}}
        &nbsp;Disagree </div>

        <div
          id="passButton"
          class="btn btn-lg btn-default btn-vote"
          role="button"
        >
        {{#ifNotIE8}}
          <i class="icon-ban-circle" style="color: gray"></i>
        {{/ifNotIE8}}
        {{! <strong style="color:gray">~</strong> }}
        &nbsp;Pass ... </div>
    </div>
  {{/unless}}
</div>
