<div style="cursor:default">
		<div style="width: 100%; text-align: center">
			<div class="voteMoreText">
				<i class="fa fa-power-off" style="font-size: 50px; display: block; color: green; text-shadow: 0 1px 0 #fff; -webkit-font-smoothing: antialiased"></i>

			{{#if oneMore}}
			Keep voting!
			{{/if}}
			{{#if twoMore}}
			Welcome! Get started by voting on a couple of comments
			{{/if}}
			</div>
		</div>
</div>