{{!-- Copyright (C) 2012-present, Polis Technology Inc. This program is free software: you can redistribute it and/or  modify it under the terms of the GNU Affero General Public License, version 3, as published by the Free Software Foundation. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details. You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>. --}}

<div
  id="write_hints_div"

  style="
    display:none;
    border-left: 3px solid #3498db;

  "
  class="
    {{!-- col-xs-10  --}}
    {{!-- col-sm-6 --}}
    col-md-offset-1
    col-md-10
    {{!-- col-lg-7 --}}
    {{!-- hidden-xs --}}
  ">

  <h3 class="HeadingB " style="margin-bottom: 20px"> Writing Comments </h3>

  <h5 class="HeadingH HeadingH--dark"> Tips for writing great comments </h5>

  <ul class="write-hint-pane">
    <li style="margin-left: -23px" class="write-hint-pane"> Each comment should include only a single idea or opinion.</li>
    <li style="margin-left: -23px" class="write-hint-pane"> Your comment will be shown randomly.</li>
    <li style="margin-left: -23px" class="write-hint-pane"> You are not replying to other comments.</li>
    {{!-- <li style="margin-left: -23px" class="write-hint-pane"> Phrase questions as statements. Not: "What about x & y?", rather: "We need more information about x & y." This allows other participants to agree that the question is important, rather than pass.</li> --}}
  </ul>

{{!--
  <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px"> When and where will my comment be displayed? </h5>

  <p class="write-hint-pane"> Your comment may or may not be moderated. Comments may appear to immediately to other participants, or there may be a delay, pending moderator approval. Approved comments will appear, at random, to other participants in this conversation only. </p>
 --}}

{{!--   <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px">Will my words be edited? </h5>
  <p class="write-hint-pane"> No. Comments are either approved or rejected during moderation, but cannot be edited. </p>
 --}}


  <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px"> Can I edit a comment I've written? </h5>
  <p class="write-hint-pane">Once a comment is submitted, it cannot be changed. </p>


  <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px"> Can I vote on my own comment? </h5>
  <p class="write-hint-pane">You will automatically cast an "Agree" vote for each comment you write.</p>
{{!--   <h5 class="HeadingH HeadingH--dark" style="margin-top: 20px">Will others know who I am?</h5>
  <p class="write-hint-pane"> Anonymity varies in pol.is from conversation to conversation. Commenting is anonymous, unless you reveal anything that can be used to deanonymize you. Your voting patterns can also be used to deanonymize you in certain circumstances, given the content of other comments. For more information, please see our <a href="/privacy" class="write-hint-pane">Privacy Policy</a>.</p> --}}


</div>