html {
	background-color: 
}

body {
	background-image: url('city.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: -172px;
	background-color: black;
	font-size: 16px;
}

#polis {
	font-family: "Gotham Bold";
	text-align: center;
	color: red;
	opacity: .55;
}


h1 {
	font-size: 112px; 
}

.container {
	opacity: .8;
	color: white;
	background-color: black;
	border-radius: 10px;
	width: 80%;
	margin: auto;
	padding: 87px;
	/* text-align: justify; */
	margin-top: 200px;
	font-family: "Garogier";

}

.biggertext {
		font-size: 100px;
		font-weight: lighter;
}

.smallertext {
	font-size: 18px;
}

.middletext {
	font-size: 30px;
}

.middletext span {
	color:red;
}

.middletext em {
	font-family: "Baskerville";
	font-weight: lighter;
}

.container ol {
	padding-left: 20%;
}

.container ol span {
	color: red;
}