{{> top}}
{{> header}}

<script>
function switchLanguages() {
    if (window.location.hash && window.location.hash.length) {
        var lang = window.location.hash.slice(1);
        $(".code_sample").hide();
        $(".code_" + lang).show();
        $(".pill").removeClass("active");
        $(".pill_" + lang).addClass("active");
    }
}
$(window).on('hashchange', switchLanguages);
$(document).ready(switchLanguages);
</script>

<div class="container">
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
      <h1 class="HeadingA"> API </h1>
      
      <ul class="nav nav-pills col-sm-6">
          <li class="pill pill_curl active"><a href="#curl">Curl</a></li>
          <li class="pill pill_ruby"><a href="#ruby">Ruby</a></li>
      </ul>
    </div>
  </div>
  <div id="getListOfConversations" class="row">
      <div class="col-sm-12">
        <h3 style="border-bottom: 1px solid lightgrey; padding-bottom: 20px; margin-top: 50px"><a href="#getListOfConversations" >#Get a list of conversations</a></h3>  
      </div>
      <div class="col-sm-5">
        <p> The API key is the only required field. A minimal request...</p> 
        <pre> <code data-language="shell">curl -X GET -s "https://pol.is/v3/conversations" \
          --user $POLIS_API_KEY:</code></pre> 
          <p>...will return a link to an iframe containing the "Create New Conversation" experience. </p>
      </div>
      <div class="col-sm-7">
        <h5 class="HeadingB"> REQUEST </h5>
        <pre>
        <code class="code_sample code_curl" data-language="shell">curl -X POST -s "https://pol.is/v3/conversations" \
              --user $POLIS_API_KEY: \</code>
        </pre>
        <h5 class="HeadingB"> RESPONSE </h5>
        <pre>
        <code class="code_sample code_curl" data-language="javascript">{
    url: "pol.is/345abc"
  }</code>
        </pre>
      </div> 
    </div> 

</div> <!--container-->

{{> footer}}
