<!DOCTYPE html> 
<html>
<head>
<link rel="stylesheet" type="text/css" href="<%= basepath %>/css/polis.css">
<link rel="stylesheet" type="text/css" href="<%= basepath %>/css/about.css">

{{! <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> }}

{{! <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> }}

{{! <script type="text/javascript" src="//use.typekit.net/ecj0qyr.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script> }}
<style>
.Logo, #polisLogo {
  display: inline-block;
  color: #555555;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Futura", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 0.07em;
  position: relative;
  left: 10px;
  top: 5px;
  text-decoration: none;
}
.Logo--blue {
  color: #3498db;
  font-weight: bold;
}
.body {
  font-family: "brandon-grotesque", "Brandon Grotesque", "Futura", "Gill Sans", "Helvetica Neue", Helvetica, sans-serif;
}
</style>

</head>
<body style="margin:0;">
  {{!-- <h1><img src="https://pol.is/polis-favicon_favicon.png" height="30px"> pol<span class="Logo--blue">.</span>is</h1> --}}

  <script>
  if (navigator.userAgent.match(/iPhone.*like Mac OS X/)) {
    document.write('<p style="background-color: yellow; border: 1px solid black;">Note to Canvas app users on iOS: To set up pol.is, you may need to click the "Submission" tab, then click "External tool".</p>');
  } else {
    // fill empty space with logo
    document.write('<div id="polisLogo" class="Logo" style="margin-top: 40px;">' +
        '<img src="https://pol.is/polis-favicon_favicon.png" height="30px"> pol<span class="Logo--blue">.</span>is' +
      '</div>');
  }
  </script>
  
  {{!-- Add this text to the completion step --}}
  {{!-- <p> Be sure to repeat this setup step on every device you are using to participate.</p> --}}

</body>
</html>
