{{> top}}
{{> header}}

<div class="container">
	<div class="row" style="margin-top: 50px">
		<div class="col-sm-4">
			<h2>we are pol.is, & <strong> you are why we're here. </strong></h2>
			<h5>Your world is getting more distributed, more complex, and more real-time. We're hard at work each day to make sure you have cutting edge infrastructure for staying in touch with the ground truth critical to understanding your decisions.</h5>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<h6 style="font-weight: 300;  margin-top: 30px"> TEAM </h6>
			<p style="">Colin Megill, Founder & CEO &nbsp;</p>
			<p style="">Michael Bjorkegren, Founder & CTO &nbsp; </p>
			<p style="">Christopher Small, Founder & Lead Data Scientist &nbsp;</p>
		</div>
	</div>

	<div class="row" style="">
		<div class="col-sm-4">
			<h6 style="font-weight: 300;  margin-top: 30px"> ABOUT </h6>
			<p style="">We're on a mission to improve the way decisions are made. We pride ourselves on being a small, highly flexible team of systems thinkers. Our offices are located in Seattle @ 36th St & Fremont Ave - <a href="https://www.google.com/maps/@47.651319,-122.351152,3a,75y,42.64h,85.08t/data=!3m4!1e1!3m2!1sErWvCttJwYnznVDAqoKL4w!2e0"> between the center of the universe and the statue of Lenin</a>.</p>
		</div>
	</div>
</div>

<div id="footer" class="hidden-xs">
  	<div class="row custom_container_for_large_screens" style="padding-top: 30px">
  		<div class="col-sm-2 col-sm-offset-2">
				<h3 style="font-size: 36px; margin-top: 50px; font-weight: 700">pol<span style="color: rgba(52, 152, 219,1.0)">.</span>is</h3>
  		</div>
	  	<div class="col-sm-2"> 
	  		<h5 style="font-weight:700">COMPANY</h5>
	  		<p><a href="/company" id="company" class="footer_item">About</a></p>
	  		<p><a href="/docs/api" id="apiButton" class="footer_item">Press</a></p>
				<p><a href="/" id="TOS" class="footer_item">TOS</a></p>
				<p><a href="/" id="PP" class="footer_item">PRIVACY</a></p>
	  	</div>
	  	<div class="col-sm-2"> 
	  		<h5 style="font-weight:700">LEARN</h5>
	  		<p><a href="/docs/api" id="apiButton" class="footer_item">API</a></p>
	  		<p><a href="/faq" id="FAQ" class="footer_item">FAQ</a></p>
	  		<p><a href="/faq" id="FAQ" class="footer_item">Blog</a></p>
	  		<p></p>
	  	</div>

  		<div class="col-sm-4">
	  		<h5 style="font-weight:700">SHARE</h5>
	  		<div>
		      <div class="footer_item social" style="display: inline-block; vertical-align: middle">
            <!-- twitter -->
            <span class="twitter" style="margin-right: 10px">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pol.is" data-text="Polis is going to change communication with #machinelearning" data-count="none" data-hashtags="getpolis" data-dnt="true"><i class="" ></i></a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </span>
            <!-- linked in -->
            <span class="linkedin" style="margin-right: 10px">
                <script src="//platform.linkedin.com/in.js" type="text/javascript">
                  lang: en_US
              </script><script type="IN/Share" data-url="http://pol.is"></script>
            </span>
            <!-- Facebook -->
            <span class="facebook" style="margin-right: 10px">
                <div class="fb-share-button" data-href="http://pol.is" data-type="button"></div>
            </span>
          </div>
	  		</div>
	  		<p style="margin-top: 50px">&#169; 2015 Polis Technology Inc.</p>
	  	</div>

  	</div>
</div>

{{> footer}}
