{{> top}}
{{> header}}

<div class="container" style="margin-top: 100px; margin-bottom: 100px">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <h1>FAQ</h1>
		</div>
	</div>
</div>

{{> footer}}
