{{> top}}

<body>

<script>
function setCookie(cname,cvalue,exdays) {
		var d = new Date();
		d.setTime(d.getTime()+(exdays*24*60*60*1000));
		var expires = "expires="+d.toGMTString();
		document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
		var name = cname + "=";
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++)
			{
			var c = ca[i].trim();
			if (c.indexOf(name)==0) return c.substring(name.length,c.length);
		}
		return "";
}
if (!getCookie("ref")) {
		setCookie("ref", document.referrer, 365);
}

$(document).ready(function() {
	if (getCookie("uid2")) {
		$(".ifAuth").fadeIn();
	} else {
		$(".ifNoAuth").fadeIn();
	}
});



// begin FB code


function getFriends() {
  var dfd = $.Deferred();

  function getMoreFriends(friendsSoFar, urlForNextCall) {
    console.log("getMoreFriends");

    return $.get(urlForNextCall).then(function(response) {
      if (response.data.length) {
        for (var i = 0; i < response.data.length; i++) {
          friendsSoFar.push(response.data[i]);
        }
        if (response.paging.next) {
          return getMoreFriends(friendsSoFar, response.paging.next);
        }
        return friendsSoFar;
      } else {
        return friendsSoFar;
      }
    });
  }

  FB.api('/me/friends',function (response) {
    console.log("/me/friends returned");
    if (response && !response.error) {
      // alert(JSON.stringify(response));
      // if (response.data) {
      //   for (var i = 0; i < response.data.length; i++) {
      //     alert(response.data[i]);
      //   }
      // }

      var friendsSoFar = response.data;
      if (response.data.length && response.paging.next) {
        getMoreFriends(friendsSoFar, response.paging.next).then(
          dfd.resolve,
          dfd.reject);
      } else {
        dfd.resolve(friendsSoFar || []);
      }
    } else {
      // alert('failed to find friends');
      dfd.reject(response);
    }
  });
  return dfd.promise();
} // end getFriends

function getInfo() {
  var dfd = $.Deferred();

  FB.api('/me',function (response) {
    console.log("/me done");
    // {"id":"10152802017421079"
    //   "email":"michael@bjorkegren.com"
    //   "first_name":"Mike"
    //   "gender":"male"
    //   "last_name":"Bjorkegren"
    //   "link":"https://www.facebook.com/app_scoped_user_id/10152802017421079/"
    //   "locale":"en_US"
    //   "location": {
    //      "id": "110843418940484",  ------------> we can make another call to get the lat,lng for this
    //      "name": "Seattle, Washington"
    //   }, 
    //   "name":"Mike Bjorkegren"
    //   "timezone":-7
    //   "updated_time":"2014-07-03T06:38:02+0000"
    //   "verified":true}

    if (response && !response.error) {
      // alert(JSON.stringify(response));
      // if (response.data) {
      //   for (var i = 0; i < response.data.length; i++) {
      //     alert(response.data[i]);
      //   }
      // }

      if (response.location && response.location.id) {
        FB.api('/' + response.location.id, function(locationResponse) {
          console.log("locationResponse");
          console.dir(locationResponse);
          if (locationResponse) {
            response.locationInfo = locationResponse;
          }
          dfd.resolve(response);
        });
      } else {
        dfd.resolve(response);
      }
    } else {
      // alert('failed to find data');
      dfd.reject(response);
    }
  });
  return dfd.promise();
} // end getInfo






function facebookLoginOkHandler(response, optionalPassword) {
  console.log("onFbLoginOk");
  console.dir(response);
  return $.when(
    getInfo(),
    getFriends()).then(function(fb_public_profile, friendsData) {

      // alert(JSON.stringify(friendsData));
      console.log("got info and friends");

      var data = {
          // fb_user_id: FB.getUserID(),
          // fb_login_status: FB.getLoginStatus(),
          // fb_auth_response: JSON.stringify(FB.getAuthResponse()),
          // fb_access_token: FB.getAccessToken(),
          fb_public_profile: JSON.stringify(fb_public_profile),
          fb_friends_response: JSON.stringify(friendsData),
          response: JSON.stringify(response)
      };
      if (fb_public_profile.email) {
        data.fb_email = fb_public_profile.email;
      } else {
        data.provided_email = prompt("Please enter your email address.");
      }
      var hname = [fb_public_profile.first_name, fb_public_profile.last_name].join(" ");
      if (hname.length) {
        data.hname = hname;
      }
      if (response && response.authResponse && response.authResponse.grantedScopes) {
        data.fb_granted_scopes = response.authResponse.grantedScopes;
      }
      if (optionalPassword) {
        data.password = optionalPassword;
      }

      return $.ajax({
        url: "/api/v3/auth/facebook",
        contentType: "application/json; charset=utf-8",
        headers: {
            //"Cache-Control": "no-cache"  // no-cache
            "Cache-Control": "max-age=0"
        },
        xhrFields: {
            withCredentials: true
        },
        // crossDomain: true,
        dataType: "json",
        data: JSON.stringify(data),
        type: "POST"
      });
  });
}


function fbLoginPrompt() {
  var dfd = $.Deferred();
  FB.login(
    function(x) {
      return facebookLoginOkHandler(x).then(dfd.resolve, dfd.reject);
    }, {
      return_scopes: true, // response should contain the scopes the user allowed
      scope: [
        // 'taggable_friends', // requires review.
        // invitable_friends NOTE: only for games with a fb Canvas presence, so don't use this
        'public_profile',
        'user_location',
        'user_friends',
        'email'
      ].join(',')
    });
  return dfd.promise();
}


function connect() {
  var dfd = $.Deferred();
  if (FB.getAuthResponse()) {
    FB.getLoginStatus(function(x) {
      if (x.status === "connected") {
        facebookLoginOkHandler(x /*, password */).then(dfd.resolve, dfd.reject);
      } else {
        // this code path may trigger popup blockers.
        // ideally the fbLoginPrompt call below is called instead.
        fbLoginPrompt().then(dfd.resolve, dfd.reject);
      }
    });
  } else {
    // test for FB.getUserID() so we can show the prompt on the same stack, preventing the popup-blocker from showing.
    fbLoginPrompt().then(dfd.resolve, dfd.reject);
  }
  return dfd.promise();
}

$(function() {
	$(".facebookButton").on("click", function() {
		connect().then(function() {
			// that.model.set("response", "fbdone");
			// location.reload();
			window.location = "/inbox";
		}, function(err) {
			alert("facebook error");
		});
	});
});


</script>


<!-- facebook code for share link -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=661042417336977&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<section class="hero" style="padding: 24px 0px 0px 0px">
	<div class="container u-space-below">
		<header class="hero-header navbar" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" style="padding: 3px 10px;" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars" style="position: relative; top: 2px"></span>
				</button>
				<a class="Logo {{#if authStyleHeader}}text-center{{/if}}"
					href="{{logo_href}}">
					<img
						src="https://cdn.brandisty.com/img?id=542da2347b11bf3f3b0000d1&format=png&w=600&h=208"
						class="polisLogo"
						alt="">
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="primaryNav navbar-nav">
					<li style="display:none"  class="ifNoAuth">
						<a class="navIcon icon--login" href="/user/login">Login</a>
					</li>
					<li style="display:none"  class="ifAuth">
						<a class="navIcon icon--inbox" href="/inbox">Inbox</a>
					</li>
				{{!-- 	<li style="display:none"  class="ifAuth">
						<a class="navIcon icon--settings" href="/settings">Settings</a>
					</li> --}}
					<li style="display:none"  class="ifAuth">
						<a class="navIcon icon--signout" href="/user/logout/inbox">Signout</a>
					</li>
				</ul>
			</div>
		</header>
		<div class="row">
			<div class="col-xs-12">
				<h1 class="hero-heading">
					Online discussions <br>
					just got an upgrade.
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<div class="spot--exterior">
					<p class="spot--interior">
						<span class="Smallcaps">Engaging</span><br>
						<em>Visual</em><br>
						<span class="Smallcaps">Experience</span>
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="spot--exterior">
					<p class="spot--interior">
						<span class="Smallcaps">Insightful</span><br>
						<em>&amp; intelligent</em><br>
						<span class="Smallcaps">dialogue</span>
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<ul class="spotList">
					<li class="spotList-item">Increased Time on Site</li>
					<li class="spotList-item">Engages Higher % of Users</li>
					<li class="spotList-item">Marginalizes Trolls</li>
					<li class="spotList-item">Aristotle Approved</li>
				</ul>
			</div>
		</div>
	</div> <!--container --> 



{{!-- DESKTOP / TABLET --}}
	<div class="container hidden-xs" style="padding-bottom: 40px; ">
		<div class="row" >
{{!-- 			<div class="col-sm-6" >
			</div> --}}
			<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="-webkit-box-shadow: 4px 5px 11px 4px #ACACAC; background-color: rgba(255,255,255,.6);">
				<p class="HeadingB" style="margin-top: 15px; font-size: 24px; font-weight: 100; ">
					Embed polis on your site in seconds, for free.
				</p>
				{{!-- This button was copied from conv view --}}
				<button class="facebookButton">
	    		<i class="fa fa-facebook-square"></i>&nbsp; Sign Up With Facebook
	      </button>
				<form class="FormHorizontal" style="text-align: left; margin: 20px auto 30px;" role="form">
					<div class="FormHorizontal-group">
						<label class="FormLabel">
						<span class="HeadingF HeadingF--light"> Sign up with email </span>
						</label>
						<input type="email" id="startconvo_email" placeholder="name@organization.com" class="FormControl">
						<br>
						<button type="submit" id="startconvo_submitbutton"
						class="Btn Btn-primary">GET POLIS</button>
					</div>
				</form>
				<div class="errorDiv">
				</div>
			</div>
		</div>
	</div>

{{!-- MOBILE --}}
	<div class="container visible-xs" style="background-color: rgba(255,255,255,.6)">
		<div class="row">
			<div class="col-xs-12">
				<p class="HeadingB" style="margin-top: 15px">
					Embed polis on your site in seconds, for free.
				</p>
				{{!-- This button was copied from conv view --}}
				<button class="facebookButton">
	    		<i class="fa fa-facebook-square"></i>&nbsp; Sign Up With Facebook
	      </button>
				<form class="FormHorizontal" style="text-align: left; margin: 20px auto 30px;" role="form">
					<div class="FormHorizontal-group">
						<label class="FormLabel">
						<span class="HeadingF HeadingF--light"> Sign up with email </span>
						<input type="email" id="startconvo_email" placeholder="name@organization.com" class="FormControl">
						</label>
						<br>
						<button type="submit" id="startconvo_submitbutton"
						class="Btn Btn-primary">GET POLIS</button>
					</div>
				</form>
				<div class="errorDiv">
				</div>
			</div>
		</div>
	</div>


</section>



<script>
	ga('send', 'event', 'Lander', 'land', 'general');


$(document).ready(function() {
	$("form").submit(function(e){
		e.preventDefault();
				e.stopPropagation();
		var email = $(this).find('#startconvo_email').val();

		if (!email) {
			$('').html();
		}

		var prod = "https://pol.is/";
		var preprod = "https://preprod.pol.is/";
		var embed = "https://embed.pol.is/";
		var polisio = "https://www.polis.io/";
		var localhost = "http://localhost:5000/";
		var localhost8000 = "http://localhost:8000/";
		var urlPrefix = prod;
		if (document.domain.indexOf("preprod") >= 0) {
				urlPrefix = preprod;
		}
		if (document.domain.indexOf("embed") >= 0) {
				urlPrefix = embed;
		}
		if (document.domain.indexOf("polis.io") >= 0) {
			    urlPrefix = polisio;
		}
		if ((-1 === document.domain.indexOf("pol.is")) && (-1 === document.domain.indexOf("polis.io"))) {
				urlPrefix = localhost;
		}
		if (document.domain === "localhost" && document.location.port === "8000") {
			urlPrefix = localhost8000;
		}

				$.ajax({
					type: "POST",
					url: urlPrefix + "api/v3/einvites",
					contentType: "application/json; charset=utf-8",
					headers: {
							//"Cache-Control": "no-cache"	// no-cache
							"Cache-Control": "max-age=0"
					},
					xhrFields: {
							withCredentials: true
					},
					crossDomain: true,
					dataType: "json",
					data: JSON.stringify({
						email: email
					})
				}).done(function( data ) {
						$("form").html('<div>' +
		'<div class="alert alert-success" style="font-family: brandon-grotesque" role="alert">' +
		'<p> ' +
			'<strong> Welcome! </strong> We\'ve emailed you a confirmation. Follow the link provided in the email to verify your account.' +
		'</p>' +
		'</div>' +
'</div>');
		 ga("send", "event", "SignUp", "emailSubmitted", "general");
				}).fail(function(){
						ga("send", "event", "SignUp", "emailSubmitFail");
						$(this).find('.errorDiv').html("<div class=\"alert alert-danger col-sm-6 col-sm-offset-3\">Your data was not saved, please try again.</div>")
				});
				return false;
})
});
</script>


	{{!-- <div class="bgOverlay">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
					<h2 class="SectionLander-Heading u-noMargin">WAY BETTER COMMENTS</h2>
					<p class="LargeText">
						Polis is powered by machine learning and real-time, interactive data visualization. It prioritizes valuable comments and filters out the noise. It's engaging for users, and produces valuable data you can utilize in tons of different ways.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="learnMore">
					<a class="learnMore-link Smallcaps">Learn more</a>
				</p>
			</div>
		</div>
	</div> --}}

{{!-- 


<section class="SectionLander">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="SectionLander-Heading">
					How are we&nbsp;different?
				</h2>
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h3 class="LanderSubheading icon--check">Thread free</h3>
				<p class="LanderText--indent">Comments and threaded discussions are hard to follow. They encourage “me too” answers, infighting and trolling. Polis employs an alternative approach that fosters critical thinking, introspection and mutual understanding.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3 class="LanderSubheading icon--check">Your users, your data</h3>
				<p class="LanderText--indent">We don't advertise and we don't receive your user identities. Our smart system can consume tokens that map to your users for a seamless experience without passing proprietary data around.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<h3 class="LanderSubheading icon--check">Immediate Feedback</h3>
				<p class="LanderText--indent">Polis shows groups of readers who voted similarly in real time. By voting, everyone can find their own place near people who voted similarly. Everyone can explore which comments have broad consensus and which comments are divisive.</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<h3 class="LanderSubheading icon--check">Smart, flexible integrations</h3>
				<p class="LanderText--indent">Polis produces tons of interesting data. Pipe it to other parts of your application to do really smart things, like promote user voices, advertise, message, segment, annotate users, reign in trolls and more. The deeper the integration with outside data, the more powerful polis becomes. Want to show candidates' positions relative to the majority or minority of readers? Show anonymized opinion breakdown by income or another demographic detail? A geographic breakdown of reader opinions? <strong> Yes you can. </strong> </p>
			</div>
		</div>
	</div>
</section> --}}

<section class="SectionLander SectionLander--white">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h3 class="HeadingB">
					<span class="NewsFeature-text">As featured in</span>
					<a href="http://www.geekwire.com/2014/startup-spotlight-polis/"
						class="logoGeekWire-link">
						<img alt="GeekWire" src="landerImages/geekwire.png" width="200px">
					</a>
				</h3>
			</div>
			{{!-- <div class="col-xs-12 col-sm-6" style="padding-left: 0px">
				{{! spacers above video}}
				<div class="visible-xs" style="margin-top: 30px"></div>
	            <div class="visible-sm " style="margin-top: 30px"></div>
				<iframe src="//fast.wistia.net/embed/iframe/tmy53k8s5t?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="400"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
			</div> --}}
		</div>
	</div>
</section>

{{!-- <section class="SectionLander SectionLander--white">
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</section> --}}

<section class="SectionLander SectionLander--alt">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="SectionLander-Heading">
					Engaging <span class="hidden-xs">&middot;</span> Insightful <span class="hidden-xs">&middot;</span> Effortless
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-xs-12">
				<div class="spot--exterior spot--align">
					<div class="spot--interior">
						<i class="spotIcon fa fa-4x fa-users"></i>
					</div>
				</div>
				<p class="spotText">
					Engages <em>all</em>&nbsp;readers - not just those who write comments.
				</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="spot--exterior spot--align">
					<div class="spot--interior">
						<i class="spotIcon fa fa-4x fa-flask"></i>
					</div>
				</div>
				<p class="spotText">
					Powerful insights into consensus, &amp;&nbsp;disagreement, majority & minority opinion groups
				</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="spot--exterior spot--align">
					<div class="spot--interior">
						<i class="spotIcon fa fa-4x fa-retweet"></i>
					</div>
				</div>
				<p class="spotText">
					Polis conversations become content, and drive the creation of novel content
				</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="spot--exterior spot--align">
					<div class="spot--interior">
						<i class="spotIcon fa fa-4x fa-link"></i>
					</div>
				</div>
				<p class="spotText">
					Seamless login experience: people can participate anonymously or use social login
				</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="spot--exterior spot--align">
					<div class="spot--interior">
						<i class="spotIcon fa fa-4x fa-code"></i>
					</div>
				</div>
				<p class="spotText">
					Embed code takes seconds to set up. Responsively fits its container and works on mobile and desktop.
				</p>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="spot--exterior spot--align">
					<div class="spot--interior">
						<i class="spotIcon fa fa-4x fa-gear"></i>
					</div>
				</div>
				<p class="spotText">
					Moderation tools put you in control of the&nbsp;discussion. Readers can help with moderation in large discussions.
				</p>
			</div>
		</div>
	</div>
</section>

{{!-- <section class="SectionLander SectionLander--spark">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2 class="SectionLander-Heading SectionLander-Heading--spark">
					Technology that lets you be yourself<br>in the classroom &amp;&nbsp;online.
				</h2>
				<h3 class="SectionLander-Heading LanderSubheading--spark">
					Ask your students meaningful, open&#45;ended questions.
				</h3>
				<ul class="ListHorizontal SparkList">
					<li class="SparkList-item">Have a dialogue on ethics.</li>
					<li class="SparkList-item">Discuss a lecture online after class.</li>
					<li class="SparkList-item">Check in with your students to assess understanding.</li>
					<li class="SparkList-item">Discuss a short story.</li>
					<li class="SparkList-item">Discuss a non-fiction reading.</li>
					<li class="SparkList-item">Discuss a play.</li>
				</ul>
			</div>
		</div>
	</div>
</section> --}}


<section class="hero" style="background: url('https://pol.is/landerImages/tau2_960px_60pctCompression.jpg'); padding: 0px 0px inherit">
<p class="text-center" style="background-color: rgba(52, 152, 219, 0.71); padding: 20px; font-family: brandon-grotesque; font-size: 20px; font-weight: 700; color: white; "{{!-- style="margin-bottom: 30px;" --}}> LIVE DEMO  </p>
	<div class="container " style="">

	<!-- ********************************************* -->
	<!-- CUSTOM TYPE KIT FOR JUBILAT FONT FOR FOOTBALL -->
	<!-- ********************************************* --> 
	<script src="//use.typekit.net/njs6zdg.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

		<div class="row" style="padding: 50px 0px">
				
			<div class="col-sm-12 col-md-6">
				<h1 class="hero-heading" style="color: white; font-weight: 900; font-family: jubilat;">
					The End of <br>
					American Football?
				</h1>
			</div>
				<div style="text-align: center; " class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
					<iframe src="//fast.wistia.net/embed/iframe/1lxiggwg8x?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
					<p style="color: white; text-align: left; font-size: 14px;	"><em>Bloomberg</em></p>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="bgOverlay">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
					<h2 class="SectionLander-Heading u-noMargin"></h2>
					<p class="LargeText">
						...
					</p>
				</div>
			</div>
		</div>
	</div> --}}
	
</section>



<section class="SectionLander SectionLander--white" style="background-color: rgba(228, 222, 211, 0.31)">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 LanderText--football">
				<p style="font-family: jubilat; font-size: 36px; line-height: 1.2em; margin-bottom: 20px;">The Issue... </p>
				<p>
					<a href="http://www.nfl.com/news/story/0ap1000000235494/article/nfl-explayers-agree-to-765m-settlement-in-concussions-suit">Retired NFL players recently reached a settlement </a> with the NFL over injuries sustained during their careers that may lead to brain disorders such as <a href="http://en.wikipedia.org/wiki/Chronic_traumatic_encephalopathy#American_football">Chronic Traumatic Encephalopathy (CTE)</a>. While the NFL denied the connection between professional football and chronic degenerative diseases such as CTE for years, <a href="http://www.nytimes.com/2014/09/13/sports/football/actuarial-reports-in-nfl-concussion-deal-are-released.html"> internal actuarial reports now expect that one in three players will be affected.
				</p>
				<p><a href="#" id="more" class="Btn Btn-alt"> more background</a></p>
				{{!-- <p>
					The settlement was 
					<a href="http://www.nytimes.com/2014/01/15/sports/football/judge-questions-whether-sum-of-nfl-settlement-is-enough.html?gwh=08C4C072D792DE2BD1DCB02D08F84D42&gwt=pay"> thrown out </a> because of fears by the judge that the roughly $700 million set aside would not be enough to cover all of the players who would bring claims. It was later approved 
					<a href="http://www.nfl.com/news/story/0ap2000000363672/article/federal-judge-approves-nfl-concussion-settlement">after the NFL agreed to remove the cap on payouts</a>.
				</p> --}}

				<script type="text/javascript">
					$(document).ready(function(){
						$(".more").hide();
						$("#more").click(function(e){
							e.preventDefault()
							$(".more").show()
							$("#more").hide()
						})
					})
				</script>
				<p class="more">
{{!-- 					<a href="https://www.youtube.com/watch?v=aA2n2zk5Kuw"> Death of John Mackey, who was debilitated by CTE</a>
					<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2995699/">Studies of CTE by Boston University researchers</a> --}}
					There is reason to suspect that even as awareness of this issue increases, the problem is underestimated, as CTE <a href="http://www.pbs.org/wgbh/pages/frontline/sports/concussion-watch/76-of-79-deceased-nfl-players-found-to-have-brain-disease/"> has shown up </a> in the brains of 76 of 79 players who have been autopsied, even in some players who only played in high school and college.
					<a href="http://www.pbs.org/wgbh/pages/frontline/league-of-denial/">An extensive documentary effort by PBS Frontline </a> explains the recent developments around the research of CTE and the NFL's growing consciousness of the scope of the problem.
				</p>
				<p class="more">
					{{!-- Malcolm Gladwell has been particularly outspoken, <a href="http://www.bloomberg.com/news/2014-11-13/malcolm-gladwell-football-is-a-moral-abomination-.html"> stating in a recent interview that “football is a moral abomination” and predicting the sport would “wither on the vine” </a> as parents decide to withold their children from participating at the high school and college levels. --}}  
					<a href="http://www.pbs.org/wgbh/pages/frontline/sports/football-high/poll-wealthy-college-educated-less-likely-to-want-kids-to-play-football/">Nearly 50% </a> of Americans now say they would not want their sons to play football.
					<a href="http://espn.go.com/espn/otl/story/_/page/popwarner/pop-warner-youth-football-participation-drops-nfl-concussion-crisis-seen-causal-factor">Youth participation in Pop Warner football dropped 10% between 2010-2012</a>. Anectdotally, Brett Favre, who is worried about his own emerging difficult with memory issues, has stated 
					<a href="https://www.youtube.com/watch?v=O2F7lWgE5NY">"If I had a son, I would be real leery of him playing."</a>
				</p>
				<p class="more">
					The NFL continues to generate <a href="http://www.forbes.com/sites/monteburke/2013/08/14/think-the-nfl-is-in-decline-because-of-head-trauma-issues-think-again/">billions</a> of dollars in revenue, and 2.8 million kids around the country still play tackle football. <a href="http://www.nytimes.com/2012/05/09/sports/football/nfl-players-live-longer-than-men-in-general-population-study-says.html?_r=0">Confounding evidence </a> also shows that professional football players live longer and, with the exception of linemen, had lower rates of heart disease compared with the general population as a result of their athleticism.
				</p>
			</div>
			<div class="col-sm-6 LanderText--football">
				<p style=" font-family: jubilat; font-size: 36px; line-height: 1.2em; margin-bottom: 20px;">...and the questions it generates. </p>
				<p>Will this new knowledge change how the game is played? Are player injuries a matter of personal responsibility or collective responsibility? Is it still ethical to watch football? Are you planning on letting your children play? Do colleges, or does the NCAA, have the same long term responsibility to care for their players as the NFL does? </p>
			</div>
		</div>
	</div>
</section>


<div id="livedemo">
	<div class="polis" data-border="none" data-conversation_id="2arcefpshi"></div>
	<script src="https://embed.pol.is/embed.js"></script>	
</div>




{{!-- 
<section class="SectionLander SectionLander--alt">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="SectionLander-Heading">
					How it works
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3 class="LanderSubheading text-center">
					Tour Polis
				</h3>
				<div>
					<iframe src="//fast.wistia.net/embed/iframe/uthtzqaq3x?videoFoam=true"
						allowtransparency="true"
						frameborder="0" scrolling="no" class="wistia_embed"
						name="wistia_embed"
						allowfullscreen mozallowfullscreen webkitallowfullscreen
						oallowfullscreen msallowfullscreen
						width="640" height="400" >
					</iframe>
					<script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
				</div>
			</div>
			<script src="https://fast.wistia.net/static/embed_shepherd-v1.js"></script>
			<script>
				wistiaEmbeds.onFind(function(video){
					video.bind("play", function(){
						ga('send', 'event', 'Video', 'Play', video.name());
						return this.unbind;
					}).bind("end", function(){
						ga('send', 'event', 'Video', 'Complete', video.name());
						return this.unbind;
					});
				});
			</script>
		</div>
	</div>
</section> --}}







<script type="text/javascript">



</script>

{{> footer}}
