// BUTTONS
//

.btn-primary {
  margin-bottom: $default-whitespace;
  padding: 8px 25px;
  border-radius: 4px;
  border: 0;

  background-color: $brand-color;
  color: #fff;
  font-family: $sans-font;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  &:hover {
    background-color: $btn-hover-color;
  }
}

.btn-alt {
  margin-bottom: $default-whitespace;
  padding: 7px 23px;
  border-radius: 4px;
  border: 0;

  background-color: $bg-alt-color;
  color: $brand-color;
  font-family: $sans-font;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  &:hover {
    color: $brand-text-color;
  }
}

//
// Voting buttons: agree and disagree
//
#agreeButton, #disagreeButton {
  border-right: 0px
}

.btn-vote {
  // set this independently of the overall font size, since they're difficult to get right.
  font-size: 20px;
  padding: 10px 0px; // no horizontal padding - to prevent the right edge of "disagree" from being clipped on iOS
}
