// FORMS
//

.form-vertical {
  margin-bottom: ($default-whitespace*2);
  border: 0;

  .form-group {
    margin-bottom: $default-whitespace;
  }
  .form-label {
    display: block;
    margin-bottom: 0;

    color: $text-color;
    font-family: $sans-font;
    font-size: 22px;
    font-weight: 400;
  }
}

.form-control {
  min-height: 36px;
  height: auto;
  width: 100%;
  display: block;
  padding: 0 10px;
  margin-bottom: 2px;
  border-radius: 2px;

  background-color: #fff;
  border: 1px solid $default-border-color;
  color: $dark-gray;
  font-size: 22px;
  font-family: $serif-font;
  font-weight: normal;
  line-height: 2;
  box-shadow: none;

  &:hover {
    border-color: #aaa;
  }

  &:focus {
    border-color: $brand-color;
    outline: none;
    box-shadow: none;
  }
}

.form-control--title {
  font-size: 30px;
}

.forgot-password {
  font-family: $serif-font;
  line-height: 2;
}

// Checkbox and radio buttons

.checkbox,
.radio {
  padding-left: $default-whitespace;

  input[type="checkbox"],
  input[type="radio"]  {
    float: left;
    margin: 5px 0 0 (-$default-whitespace);
  }
}

//
// Alternate Create an Account/Sign Up section
//
.alternateRegOr {
    text-align: center;
    position: absolute;
    width: 40px;
    /*left: 50%;*/
    /*margin-left: -20px;*/ /* -1/2 of width, to center a position:absolute element */
    left: 20px; /* since the form is left-aligned */
    top: -13px;

    background-color: $bg-color;
    font-weight: 400;
}

.alternateReg {
    margin-top: $default-whitespace;
    padding-top: $default-whitespace + ($default-whitespace/2);

    border-top: 1px solid $default-border-color;
}
