# client id for auth provider. If left blank, 3rd party Auth provider will not be used
AUTH_CLIENT_ID=
# The URL of your API Server. Set this value if your API Server is not on the same domain as your client-report.
SERVICE_URL=
