// BASE
// Styles applied directly to elements usually using the element selector
//

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: $serif-font;
  font-size: 18px;
  line-height: $default-leading;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;

  font-family: inherit;
}

// bootstrap override
p, ul, ol {
  font-size: 18px;
  font-weight: normal;
  line-height: $default-leading;
}

//
// Links
//
a {
  &, &:link {
    color: $link-color;
    text-decoration: none;
  }
  &:hover {
    color: $hover-color;
  }
}

pre {
  font-size: 14px
}