// CONTENT
// Universal text and content styles
//

//
// Headings
//
.HeadingA {
  color: $dark-gray;
  font-family: $headline-font;
  font-weight: 700;
  font-size: 36px;
  line-height: $default-leading;
}

.HeadingA-aside {
  color: $light-gray;
  font-family: $serif-font;
  font-weight: normal;
  font-size: 18px;
}

.HeadingB {
  color: $dark-gray;
  font-family: $headline-font;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
