// CONTENT
// Universal text and content styles
//

//
// Headings
//
.HeadingA {
  color: $dark-gray;
  font-family: $headline-font;
  font-weight: 700;
  font-size: 36px;
  line-height: $default-leading;
}

.HeadingA-aside {
  color: $light-gray;
  font-family: $serif-font;
  font-weight: normal;
  font-size: 18px;
  white-space: nowrap;
}

.HeadingB {
  color: $dark-gray;
  font-family: $headline-font;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.HeadingB--inline {
  display: inline;
}

.HeadingC {
  border-bottom: 1px solid $default-border-color;
  color: $light-gray;
  font-weight: normal;
  font-family: $headline-font;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

/* colin created for tabs in conversation view, modify or rename if necessary and update conversationTabs.handlebars */
.HeadingD {
  color: $dark-gray;
  font-family: $headline-font;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

// colin created this as a color-free variant of heading B for the green text that shows when a group is clicked, modifies analyze-group.js and analyze global
.HeadingE {
  font-family: $headline-font;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.04em;  
}

//micro caps light
.HeadingF {
  font-family: $headline-font;
  font-size: 12px;
  text-transform: uppercase; 
  letter-spacing: 0.04em;  
}

.HeadingF--light {
  font-weight: 300;
}

.HeadingF--heavy {
  font-weight: 700;
}
