node_modules
bower_components
public
.DS_Store
*.log
js/tmpl/
build
dist
devel
.polis_env
.polis_s3_creds_client.json
.polis_scp_creds_client.json
.polis_slack_creds.json
polis.config.js
.sass-cache/*
.bashrc
.env_always
polisStatic/
scratch
polis.config
