<!DOCTYPE html>
<html>
  <head>
    <title>Polis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script>
      window.domainWhitelist = <%= domainWhitelist %>;
    </script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"> -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="viewport avenir">
    <div id="root"></div>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/dist/admin_bundle.js"></script>
    <script>
      /* https://github.com/d3/d3-timer Copyright 2015 Mike Bostock -- this is for the stars -- connected-particles.js */
      "undefined" == typeof requestAnimationFrame &&
        (requestAnimationFrame =
          ("undefined" != typeof window &&
            (window.msRequestAnimationFrame ||
              window.mozRequestAnimationFrame ||
              window.webkitRequestAnimationFrame ||
              window.oRequestAnimationFrame)) ||
          function (e) {
            return setTimeout(e, 17);
          }),
        (function (e, n) {
          "object" == typeof exports && "undefined" != typeof module
            ? n(exports)
            : "function" == typeof define && define.amd
            ? define(["exports"], n)
            : n((e.timer = {}));
        })(this, function (e) {
          "use strict";
          function n() {
            (r = m = 0), (c = 1 / 0), t(u());
          }
          function t(e) {
            if (!r) {
              var t = e - Date.now();
              t > 24
                ? c > e && (m && clearTimeout(m), (m = setTimeout(n, t)), (c = e))
                : (m && ((m = clearTimeout(m)), (c = 1 / 0)), (r = requestAnimationFrame(n)));
            }
          }
          function i(e, n, i) {
            (i = null == i ? Date.now() : +i), null != n && (i += +n);
            var o = { callback: e, time: i, flush: !1, next: null };
            a ? (a.next = o) : (f = o), (a = o), t(i);
          }
          function o(e, n, t) {
            (t = null == t ? Date.now() : +t),
              null != n && (t += +n),
              (l.callback = e),
              (l.time = t);
          }
          function u(e) {
            e = null == e ? Date.now() : +e;
            var n = l;
            for (l = f; l; ) e >= l.time && (l.flush = l.callback(e - l.time, e)), (l = l.next);
            (l = n), (e = 1 / 0);
            for (var t, i = f; i; )
              i.flush
                ? (i = t ? (t.next = i.next) : (f = i.next))
                : (i.time < e && (e = i.time), (i = (t = i).next));
            return (a = t), e;
          }
          var a,
            m,
            r,
            f,
            l,
            c = 1 / 0;
          (e.timer = i), (e.timerReplace = o), (e.timerFlush = u);
        });
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: "<%= fbAppId %>",
          xfbml: true,
          version: "v2.1",
        });
      };

      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        // js.src = "//connect.facebook.net/en_US/sdk/debug.js"; // unminified
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>
    <script>
      window.usePlans = <%= usePlans %>;
      if (<%= useIntercom %>) {
        window.useIntercom = true;
        window.initIntercom = function(){
          var w=window;var ic=w.Intercom;
          if(typeof ic==="function"){
            // ic('reattach_activator');
            // ic('update',intercomSettings);
          }else{
            var d=document;
            var i=function(){
              i.c(arguments)
            };
            i.q=[];
            i.c=function(args){
              i.q.push(args)
            };
            w.Intercom=i;
            function l(){
              var s=d.createElement('script');
              s.type='text/javascript';
              s.async=true;
              s.src='https://widget.intercom.io/widget/nb5hla8s';
              var x=d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s,x);
            }
            $(l); // custom - using jQuery's ready listener
          }
        };
      }
    </script>
    <script>
      window.version = "NULL_VERSION";
    </script>
  </body>
</html>
