name: Lint

on:
  pull_request:
    types: ["opened", "reopened", "synchronize"]

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4

    - name: Use Node.js
      uses: actions/setup-node@v2.1.2
      with:
        node-version: 14.4.0

    - name: Get npm cache directory
      id: npm-cache
      run: |
        echo "::set-output name=dir::$(npm config get cache)"

    - name: Restore npm cache directory
      uses: actions/cache@v2.1.3
      with:
        path: ${{ steps.npm-cache.outputs.dir }}
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: "Install & Build: client-admin"
      working-directory: client-admin
      run: npm install

    - name: "ESLint: client-admin"
      working-directory: client-admin
      run: npm run lint
