// CONTENT
// Universal text and content styles
//

//
// Headings
//
.primary-heading {
  color: $dark-gray;
  font-family: $headline-font;
  font-weight: 700;
  font-size: 36px;
  line-height: $default-leading;
}

.sub-heading {
  color: $light-gray;
  font-family: $serif-font;
  font-weight: normal;
  font-size: 18px;
}

.secondary-heading {
  color: $dark-gray;
  font-family: $headline-font;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

//
// Header/Banner containing logo
//
.header {
  margin: 0;
  padding: 30px 0 15px 0;
  border-bottom: 3px solid #eeeff0;

  vertical-align: bottom;
}

.logo {
  margin: 0;
  display: inline-block;

  color: $medium-gray;
  font-family: $headline-font;
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 1px;

  .blue {
    color: $brand-color;
    font-weight: bold;
  }
}
